* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    background-color: #F6F8F9;
}

.contactContainer {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 6px #00000029;
}

.firstRow {
    padding: 7% 8%;
    border-bottom: 1px solid #D3D3D3;
}

.contacts {
    font-family: 'Anton';
    font-size: 1.8vw;
    color: #000000;
    letter-spacing: 1.4px;
}

.contactsSubtext {
    padding-top: 4%;
    font-family: 'Lato';
    font-size: 1.3vw;
    color: #909090;
}

.listsContainer {
    padding: 6%;
}

.card {
    background-color: #EEEEEE;
    padding: 6% 0;
    overflow: auto;
}

.spaces {
    margin-bottom: 6%;
}

.imageContainer {
    width: 35%;
    float: left;
    padding: 0 7% 0 8%;
}

.profilePicContainer {
    border-radius: 15%;
}

.profilePic {
    width: 55px;
    height: 55px;
}

.textContainer {
    width: 65%;
    float: right;
}

.name {
    font-family: 'Lato';
    font-weight: 700;
    font-size: 1.1vw;
    color: #4D4F5C;
    padding-bottom: 2%;
}

.designation {
    font-family: 'Lato';
    font-size: 1vw;
    color: #747474;
    padding-bottom: 4%;
}

.email {
    font-family: 'Lato';
    font-size: 1vw;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: #747474;
    padding-bottom: 2%;
}

.mobileNumber {
    font-family: 'Lato';
    font-size: 1vw;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: #747474;
}

.lastRow {
    padding: 0 6% 6% 6%;
}

.navImage {
    width: 10px;
    height: 10px;
    vertical-align: middle;
}

.indexText {
    font-family: 'Lato';
    font-size: 0.8vw;
    letter-spacing: 0.6px;
    color: #B5B5B5;
    padding: 2% 1%;
    transform: translateY(-50%);
}

@media screen and (max-device-width: 768px) {
    .navImage {
        width: 7.4px;
        height: 7.4px;
    }
    .profilePic {
        width: 41px;
        height: 41px;
    }
}

@media screen and (min-device-width: 1025px) and (max-device-width: 1440px) {
    .navImage {
        width: 14px;
        height: 14px;
    }
    .profilePic {
        width: 77px;
        height: 77px;
    }
}

@media screen and (min-device-width: 1441px) and (max-device-width: 1920px) {
    .navImage {
        width: 19px;
        height: 19px;
    }
    .profilePic {
        width: 103px;
        height: 103px;
    }
}

@media screen and (min-device-width: 1921px) and (max-device-width: 2560px) {
    .navImage {
        width: 25px;
        height: 25px;
    }
    .profilePic {
        width: 137px;
        height: 137px;
    }
}