* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    background-color: #F6F8F9;
}

.cooContainer {
    background-color: #FFFFFF;
    padding: 5% 7.6%;
    box-shadow: 0px 2px 6px #00000029;
    border-radius: 20px;
    overflow: hidden;
}

.cooLeft {
    width: 20%;
    float: left;
}

.cooImageContainer {
    width: 50%;
    margin-top: 25%;
}

.cooImage {
    width: 61px;
}

.cooRight {
    width: 80%;
    float: right;
}

.cooHeading {
    font-family: 'Anton';
    font-size: 1.36vw;
    letter-spacing: 1px;
    color: #000000;
    padding-bottom: 2%;
}

.cooText {
    font-family: 'Lato';
    font-size: 1.36vw;
    letter-spacing: 0;
    color: #505050;
    padding-bottom: 4%;
}

.cooName {
    font-family: 'Lato';
    font-size: 1.36vw;
    letter-spacing: 0.7px;
    font-weight: 900;
    padding-bottom: 7px;
    color: #505050;
}

.cooDesignation {
    font-family: 'Lato';
    font-size: 1.36vw;
    font-weight: 900;
    letter-spacing: 0.7px;
    color: #505050;
}

@media screen and (max-device-width: 768px) {
    .cooImage {
        width: 46px;
    }
}

@media screen and (min-device-width: 1025px) and (max-device-width: 1440px) {
    .cooImage {
        width: 86px;
    }
}

@media screen and (min-device-width: 1441px) and (max-device-width: 1920px) {
    .cooImage {
        width: 114px;
    }
}

@media screen and (min-device-width: 1921px) and (max-device-width: 2560px) {
    .cooImage {
        width: 152px;
    }
}