.headingContainer {
    text-align: center;
    padding-bottom: 50%;
}

.complaintHeading {
    text-align: left;
    font-size: 1.36vw;
    font-family: 'Anton';
    letter-spacing: 2.8px;
    color: #000000;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
}

.svgContainer {
    width: 45%;
    margin: auto;
}

.circle_color {
    font-size: 1.17vw;
    font-family: 'Roboto';
    letter-spacing: 0;
    fill: #fff;
}

.circle_without_color {
    font-size: 1.17vw;
    font-family: 'Roboto';
    letter-spacing: 0;
    fill: #d3d3d3;
}

@media screen and (max-device-width: 768px) {}

@media screen and (min-device-width: 1025px) and (max-device-width: 1440px) {}

@media screen and (min-device-width: 1441px) and (max-device-width: 1920px) {}

@media screen and (min-device-width: 1921px) and (max-device-width: 2560px) {}