* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    background-color: #F6F8F9;
}

.container {
    background-color: #FFFFFF;
    border-bottom-left-radius: 3.5vw;
    border-bottom-right-radius: 3.5vw;
    box-shadow: 0px 0px 6px #00000029;
}

.trainingContainer {
    padding: 3% 5% 4% 5%;
    border-bottom: 1px solid #CCCCCC;
}

.training {
    font-size: 1.36vw;
    font-family: 'Anton';
    letter-spacing: 1.4px;
    color: #000000;
}

.trainingSubtext {
    font-size: 1.17vw;
    font-family: 'Lato';
    letter-spacing: 0.6px;
    color: #747474;
}

.listContainer {
    padding: 4% 6.7% 7% 6.7%;
    border-bottom-left-radius: 3.5vw;
    border-bottom-right-radius: 3.5vw;
}

.greenCard {
    padding: 2%;
    background-color: #EFFAF6;
    border: 0.5px solid #B6D1C8;
}

.message {
    font-family: 'Lato';
    font-size: 1.17vw;
    letter-spacing: 1.2px;
    color: #000000;
    padding-bottom: 2%;
}

.subMessage {
    font-family: 'Lato';
    font-size: 1.17vw;
    letter-spacing: 0.6px;
    color: #505050;
}

.redCard {
    padding: 2%;
    background-color: #FFE8E8;
    border: 0.5px solid #BA8C8C;
}

.row {
    padding: 2%;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}

.columnOne {
    width: 34%;
    float: left;
    text-align: left;
    clear: left;
}

.columnTwo {
    width: 33%;
    float: left;
    text-align: center;
}

.columnThree {
    width: 33%;
    float: right;
    text-align: right;
}

.clear {
    clear: both;
}

.darkText {
    font-family: 'Lato';
    font-size: 1.17vw;
    letter-spacing: 0.6px;
    color: #505050;
    font-weight: 800;
}

.lightText {
    font-family: 'Lato';
    font-size: 1.17vw;
    letter-spacing: 0.6px;
    color: #909090;
}

.greyText {
    font-family: 'Lato';
    font-size: 1.17vw;
    letter-spacing: 0.6px;
    color: #505050;
}

.Image {
    width: 9%;
    vertical-align: middle;
    margin-right: 16px;
}

.underline {
    border-bottom: 1px solid #505050;
}

.space {
    padding-bottom: 11px;
}