* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.witnessTag {
    background-color: #F3F5B3;
    font-family: 'Lato';
    font-size: 1.17vw;
    letter-spacing: 1.2px;
    color: #505050;
    padding: 1.2% 2.7%;
    border-top-left-radius: 12px;
    display: inline-block;
}

.borderContainer {
    border: 1px solid #F3F5B3;
}

.yellowCard {
    background-color: #fbfce7;
    padding: 4% 2.7%;
}

.witDescription {
    font-family: 'Lato';
    font-size: 1.17vw;
    letter-spacing: 0.6px;
    color: #505050;
    padding-bottom: 1%;
}

.addIcon {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.addLabel {
    font-family: 'Lato';
    font-size: 1.36vw;
    font-weight: 700;
    letter-spacing: 1.4px;
    color: #000000;
    padding-left: 1.2%;
}

.row {
    padding: 4.6% 2.7%;
}

.bodBot {
    border-bottom: 1px solid #F3F5B3;
}

.editIcon {
    width: 34px;
    height: 34px;
}

.deleteIcon {
    width: 34px;
    height: 34px;
    margin-left: 2%;
}

.leftColumn {
    float: left;
    width: 50%;
}

.rightColumn {
    float: right;
    width: 50%;
    text-align: right;
}

.witName {
    font-family: 'Lato';
    font-size: 1.36vw;
    font-weight: 800;
    letter-spacing: 1.2px;
    color: #747474;
}

.witDetails {
    font-family: 'Lato';
    font-size: 1.17vw;
    letter-spacing: 1.2px;
    color: #747474;
}

.clear {
    clear: both;
}

@media screen and (max-device-width: 768px) {
    .addIcon {
        width: 22.5px;
        height: 22.5px;
    }
    .editIcon {
        width: 25.5px;
        height: 25.5px;
    }
    .deleteIcon {
        width: 25.5px;
        height: 25.5px;
    }
}

@media screen and (min-device-width: 1025px) and (max-device-width: 1440px) {
    .addIcon {
        width: 42.2px;
        height: 42.2px;
    }
    .editIcon {
        width: 47.8px;
        height: 47.8px;
    }
    .deleteIcon {
        width: 47.8px;
        height: 47.8px;
    }
}

@media screen and (min-device-width: 1441px) and (max-device-width: 1920px) {
    .addIcon {
        width: 56px;
        height: 56px;
    }
    .editIcon {
        width: 63.7px;
        height: 63.7px;
    }
    .deleteIcon {
        width: 63.7px;
        height: 63.7px;
    }
}

@media screen and (min-device-width: 1921px) and (max-device-width: 2560px) {
    .addIcon {
        width: 75px;
        height: 75px;
    }
    .editIcon {
        width: 85px;
        height: 85px;
    }
    .deleteIcon {
        width: 85px;
        height: 85px;
    }
}