* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

.clear {
    clear: both;
}

img {
    width: 3.125vw;
}

.pageParent {
    background-color: #E5E5E5;
}

.header {
    padding: 2.03% 2.44%;
    background-color: #FFFFFF;
    box-shadow: 0px 3px 0.58vw #BCBCBC40;
    display: flex;
    align-items: center;
}

.navIconContainer {
    width: 86%;
}

.navIconBox {
    width: fit-content;
}

.navIcon {
    width: 2.34vw;
}

.userContainer {
    width: 14%;
    display: flex;
    align-items: center;
    float: right;
}

.userPicBox {
    width: fit-content;
}

.userPic {
    border-radius: 50%;
    width: 3.125vw;
    vertical-align: middle;
}

.userNameBox {
    width: fit-content;
}

.userName {
    font: 500 1.17vw/1.36vw 'Roboto';
    letter-spacing: 0.9px;
    color: #5A5A5A;
    vertical-align: middle;
    margin: 0 0.97vw;
}

.dropDownBox {
    width: fit-content;
}

.headerDropdown {
    width: 1.17vw;
}

.dashBoardContainer {
    padding: 2.9296875%;
}

.dashboardBox {
    box-shadow: 0px 0px 6px #00000029;
}

.dashboardHeader {
    background-color: #FFFFFF;
    padding: 3.73% 6.735% 3.73% 0;
    margin-bottom: 0.48vw;
}

.dashHeaderTop {
    display: flex;
    align-items: center;
}

.backBox {
    width: 7.22%;
}

.backArrowImage {
    width: 1.36vw;
    display: block;
    margin: auto;
}

.dashBox {
    width: 47.22%;
}

.dash {
    font: 700 1.36vw/1.46vw 'Roboto';
    letter-spacing: 1.4px;
    color: #464646;
}

.dashRight {
    width: 45.56%;
}

.dashHeaderBottom {
    display: flex;
    align-items: center;
}

.dashTextleft {
    width: 7.22%;
}

.dashTextBox {
    width: 47.22%;
}

.dashText {
    font: 400 1.17vw/1.95vw 'Roboto';
    letter-spacing: 0.6px;
    color: #707070;
    padding-top: 3.29%;
}

.yearDropBox {
    width: 45.66%;
}

.yearBox {
    width: 12.3vw;
    border: 0.5px solid #30B7CC;
    border-radius: 5px;
    display: flex;
    align-items: stretch;
    float: right;
    overflow: hidden;
}

.yearLeft {
    width: 9.56vw;
    float: left;
    text-align: center;
    padding: 0.28vw 0 0.10vw;
}

.yearText {
    font: 500 1.36vw/1.56vw 'Roboto';
    letter-spacing: 0.7px;
    color: #464646;
}

.yearRight {
    width: 2.73vw;
    background-color: #32BDD2;
    padding-top: 0.38vw;
}

.yearDropImage {
    width: 1.17vw;
    display: block;
    margin: auto;
}

.dashBody {
    background-color: #FFFFFF;
    padding: 7% 6.53% 6.95% 6.63%;
}

.grayBox {
    width: 43.6%;
    float: left;
    background-color: #EEEEEE;
    padding: 4.68% 3.08% 5.05%;
    border: 0.5px solid #E6E6E6;
    border-radius: 0.97vw;
}

.grayBoxText {
    font: 400 1.17vw/1.95vw 'Roboto';
    letter-spacing: 0.6px;
    color: #707070;
    padding-bottom: 4.16%;
}

.circleSvgContainer {
    position: relative;
    width: 73.5%;
    margin: auto;
}

.circleSvgText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.totalVouchers {
    font: 500 1.17vw/1.36vw 'Roboto';
    letter-spacing: 0.3px;
    color: #909090;
    padding-bottom: 0.97vw;
}

.totalAmount {
    font: 500 1.36vw/1.56vw 'Roboto';
    letter-spacing: 0;
    color: #464646;
}

.legendBox {
    margin-top: 6.26%;
}

.legendColumn {
    width: 33%;
    float: left;
}

.legendIndicator {
    display: block;
    height: 0.78vw;
    width: 0.78vw;
}

.legendKey {
    font: 400 1.17vw/1.36vw 'Roboto';
    letter-spacing: 0.6px;
    color: #747474;
    padding: 6.73% 0 3.84% 0;
}

.legendValue {
    font: 500 1.36vw/1.56vw 'Roboto';
    letter-spacing: 0;
    color: #464646;
}

.barsBox {
    float: right;
    width: 48%;
}

.progressLeftText {
    width: 50%;
    float: left;
    text-align: left;
    font: 400 1.17vw/1.36vw 'Roboto';
    letter-spacing: 0.9px;
    color: #505050;
}

.progressRightText {
    width: 50%;
    float: right;
    text-align: right;
    font: 500 1.17vw/1.36vw 'Roboto';
    letter-spacing: 0.3px;
    color: #909090;
}

.progressBar {
    margin: 2.6% 0 9.1% 0;
    border-radius: 0.48vw;
    height: 0.88vw;
    display: flex;
    align-items: stretch;
    overflow: hidden;
}

.lastProgressBar {
    margin: 2.6% 0 0 0;
    border: 1px solid #A9C7CB;
}

#rent-usedColor {
    width: 80%;
}

#rent-expiredColor {
    width: 0;
}

#rent-redeemableColor {
    width: 20%;
}

#food-usedColor {
    width: 66.67%;
}

#food-expiredColor {
    width: 0;
}

#food-redeemableColor {
    width: 33.33%;
}

#laundry-usedColor {
    width: 100%;
}

#laundry-expiredColor {
    width: 0;
}

#laundry-redeemableColor {
    width: 0;
}

#entmnt-usedColor {
    width: 55.55%;
}

#entmnt-expiredColor {
    width: 45.45%;
}

#entmnt-redeemableColor {
    width: 0;
}

#transport-usedColor {
    width: 83.33%;
}

#transport-expiredColor {
    width: 16.67%;
}

#transport-redeemableColor {
    width: 0;
}

#sport-usedColor {
    width: 16.67%;
}

#sport-expiredColor {
    width: 43.33%;
}

#sport-redeemableColor {
    width: 40%;
}

#learning-usedColor {
    width: 0;
}

#learning-expiredColor {
    width: 0;
}

#learning-redeemableColor {
    width: 0;
}