* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

.clear {
    clear: both;
}

.pageParent {
    background-color: #E5E5E5;
    position: static;
}

.header {
    padding: 2.03% 2.44%;
    background-color: #FFFFFF;
    box-shadow: 0px 3px 0.58vw #BCBCBC40;
    display: flex;
    align-items: center;
}

.navIconContainer {
    width: 86%;
}

.navIconBox {
    width: fit-content;
}

.navIcon {
    width: 2.34vw;
    cursor: pointer;
}

.userContainer {
    width: 14%;
    display: flex;
    align-items: center;
    float: right;
}

.userPicBox {
    width: fit-content;
}

.userPic {
    border-radius: 50%;
    width: 3.125vw;
    vertical-align: middle;
}

.userNameBox {
    width: fit-content;
}

.userName {
    font: 500 1.17vw/1.36vw 'Roboto';
    letter-spacing: 0.9px;
    color: #5A5A5A;
    vertical-align: middle;
    margin: 0 0.97vw;
}

.dropDownBox {
    width: fit-content;
}

.headerDropdown {
    width: 1.17vw;
}

.comContainer {
    padding: 2.9%;
}

.comBox {
    background-color: #EEEEEE;
    box-shadow: 0px 0px 6px #00000029;
}

.comHeader {
    background-color: #FFFFFF;
    padding: 3.73%;
    margin-bottom: 4px;
}

.cardTitle {
    font: 700 1.36vw/1.46vw 'Roboto';
    letter-spacing: 1.4px;
    color: #464646;
}

.cardText {
    font: 400 1.17vw/1.95vw 'Roboto';
    letter-spacing: 0.6px;
    color: #707070;
    padding-top: 1.6%;
    width: 47.7%;
}

.comSubContainer {
    display: flex;
}

.comLeftBox {
    width: 41%;
    float: left;
    border-right: 1px solid #CCCCCC;
    background-color: #FFFFFF;
    margin-top: 3.42%;
}

.vouchers {
    padding: 9.8% 21.4% 6.8% 16.7%;
    border-bottom: 1px solid #CCCCCC;
    background-color: #EEEEEE;
    cursor: pointer;
}

.voucherTitle {
    font: Bold 1.36vw/1.56vw 'Roboto';
    letter-spacing: 1.05px;
    color: #5A5A5A;
}

#profile {
    border-top: 0.29vw solid #E65959;
    padding-top: 3.47%;
}

#people {
    border-top: 0.29vw solid #E65959;
    padding-top: 3.47%;
}

#groups {
    border-top: 0.29vw solid #E65959;
    padding-top: 3.47%;
}

.voucherText {
    font: 400 1.17vw/1.56vw 'Roboto';
    letter-spacing: 0.3px;
    color: #747474;
    padding-top: 5.16%;
}

.highlightVoucher {
    border: 0;
    box-shadow: 0px -5px 10px -5px #00000029, 0px 5px 10px -5px #00000029;
    background-color: #FFFFFF;
    transform: translateX(1px);
}

.lastVoucher {
    border-bottom: 0;
}

.vouchersRightBox {
    width: 59%;
    padding: 3.42% 3.42% 4.15%;
    float: left;
    background-color: #FFFFFF;
    position: relative;
    z-index: 1;
}

.voucherHeading {
    font: 700 1.36vw/1.46vw 'Roboto';
    letter-spacing: 1.4px;
    color: #464646;
}

.imageRow {
    padding-top: 10.87%;
}

.imageContainer {
    width: 9vw;
    margin: 0 auto;
    position: relative;
}

#profileImage {
    width: 9vw;
    display: block;
    margin: auto;
}

#profileEditIcon {
    width: 2.4vw;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    border-radius: 50%;
    box-shadow: 0px 0px 2px #0000004D;
}

#profileToggle {
    display: block;
    margin: 4.94% auto 10.87%;
}

.uploadText {
    font: 500 1.36vw/1.56vw 'Roboto';
    letter-spacing: 0.7px;
    color: #464646;
    text-align: center;
    padding-top: 3%;
}

.fieldRows {
    padding: 6.52% 0;
    border-bottom: 0.5px solid #CCCCCC;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.emailRow {
    flex-direction: column;
    align-items: stretch;
}

.fieldKey {
    font: 400 1.36vw/1.56vw 'Roboto';
    letter-spacing: 1.05px;
    color: #747474;
    padding-bottom: 0.97vw;
}

.fieldValue {
    font: 500 1.56vw/1.66vw 'Roboto';
    letter-spacing: 1.2px;
    color: #505050;
}

.emailToggle {
    padding-top: 1.92vw;
    align-self: flex-end;
}

.placeEditIcon {
    width: 1.66vw;
}

.lastFieldRow {
    padding-top: 6.52%;
    display: flex;
    align-items: stretch;
}

.lastFieldLeft {
    width: 50%;
    position: relative;
}

.redDot {
    background-color: #E65959;
    width: 1.07vw;
    height: 1.07vw;
    border-radius: 50%;
    position: absolute;
    left: 45%;
}

.redDotSpace {
    padding-top: 1.07vw;
}

.lastFieldRight {
    width: 50%;
}

#setupButton {
    float: right;
    height: 100%;
    width: 44.8%;
    box-shadow: 0px 0px 2px #00000029;
    border-radius: 3px;
    font: 500 1.46vw/1.75vw 'Roboto';
    letter-spacing: 1.5px;
    background-color: #32BDD2;
    color: #FFFFFF;
    border: 0;
}


/* ====================================================================== */

#editPicPopup {
    width: 18.8vw;
    background-color: transparent;
    position: absolute;
    top: -13%;
    left: 85%;
}

#cancelEditIcon {
    width: 2.4vw;
}

.editPicList {
    width: 16.3vw;
    padding: 1.56vw 3.51vw;
    border: 0.5px solid #CCCCCC;
    border-radius: 0px 0.88vw 0.88vw 0.88vw;
    box-shadow: 0px 3px 17px #00000029;
    float: left;
    background-color: #FFFFFF;
}

.editOptions {
    padding: 2.34vw 0;
    font: 400 1.36vw/1.56vw 'Roboto';
    letter-spacing: 0.7px;
    color: #464646;
}

.optionLine {
    border-bottom: 0.5px solid #CCCCCC;
}


/* ======================================================================== */

.navigationPage {
    background-color: #000000b2;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.navigationColumn {
    width: 25.75%;
    background-color: #FFFFFF;
}

.rewardsBox {
    padding: 18% 14.5% 0;
    border-bottom: 1px solid #CCCCCC;
}

.navOptionBars {
    padding-bottom: 18.18%;
}

.optionsImageBox {
    width: 29%;
    float: left;
}

.optionsImages {
    width: 1.95vw;
    vertical-align: middle;
}

.optionsTextBox {
    width: 71%;
    float: left;
}

.optionsText {
    font: 400 1.36vw/1.56vw 'Roboto';
    letter-spacing: 0;
    color: #747474;
    vertical-align: middle;
}

.passwordBox {
    padding: 13.5% 14.5% 0 14.5%;
    border-bottom: 1px solid #CCCCCC;
}

.logoutBox {
    padding: 14.2% 14.5%;
}

.logoutPadding {
    padding-bottom: 66%;
}


/* ============================================================================ */

.switch {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 17.5px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #EDEFF1;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 21.5px;
    width: 21.5px;
    left: -2px;
    bottom: -2px;
    background-color: #F5F5F5;
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: 0px 0px 3px #0000003C;
}

input:checked+.slider {
    background-color: #32BDD2;
}

input:checked+.slider:before {
    -webkit-transform: translateX(34.5px);
    -ms-transform: translateX(34.5px);
    transform: translateX(34.5px);
}

.slider.round {
    /* Rounded sliders */
    border-radius: 0.88vw;
}

.slider.round:before {
    border-radius: 50%;
}


/* ============================================================================= */

@media screen and (max-width:768px) {
    .switch {
        width: 39px;
        height: 13px;
    }
    .slider:before {
        height: 16px;
        width: 16px;
        left: -1.5px;
        bottom: -1.5px;
    }
    input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
}

@media screen and (min-width:1025px) and (max-width:1440px) {
    .switch {
        width: 73px;
        height: 24.5px;
    }
    .slider:before {
        height: 30.5px;
        width: 30.5px;
        left: -3px;
        bottom: -3px;
    }
    input:checked+.slider:before {
        -webkit-transform: translateX(48.5px);
        -ms-transform: translateX(48.5px);
        transform: translateX(48.5px);
    }
}

@media screen and (min-width:1441px) and (max-width:1920px) {
    .switch {
        width: 97px;
        height: 32.5px;
    }
    .slider:before {
        height: 40.5px;
        width: 40.5px;
        left: -4px;
        bottom: -4px;
    }
    input:checked+.slider:before {
        -webkit-transform: translateX(64.5px);
        -ms-transform: translateX(64.5px);
        transform: translateX(64.5px);
    }
}

@media screen and (min-width:1921px) and (max-width:2560px) {
    .switch {
        width: 130px;
        height: 43.5px;
    }
    .slider:before {
        height: 53.5px;
        width: 53.5px;
        left: -5px;
        bottom: -5px;
    }
    input:checked+.slider:before {
        -webkit-transform: translateX(86.5px);
        -ms-transform: translateX(86.5px);
        transform: translateX(86.5px);
    }
}


/* ============================================================================== */

.checkboxValue {
    font: 400 1.36vw/1.44vw 'Roboto';
    letter-spacing: 0.35px;
    color: #5A5A5A;
    padding-left: 5.5%;
}

.checkbox-label {
    display: block;
    position: relative;
    cursor: pointer;
    height: 2.1vw;
    clear: both;
}

.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox-label .checkbox-custom {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1.85vw;
    height: 1.85vw;
    background-color: #FFFFFF;
    border: 0.5px solid #B5B5B5;
}

.checkbox-label input:checked~.checkbox-custom {
    background-color: #000000;
    transform: rotate(0deg) scale(1);
    opacity: 1;
    border: 0.5px solid #B5B5B5;
}

.checkbox-label .checkbox-custom::after {
    position: absolute;
    content: "";
    left: 12px;
    top: 12px;
    height: 0px;
    width: 0px;
    border: 0.5px solid #B5B5B5;
    border-width: 0 3px 3px 0;
    transform: rotate(0deg) scale(0);
    opacity: 1;
}

.checkbox-label input:checked~.checkbox-custom::after {
    transform: rotate(45deg) scale(1);
    opacity: 1;
    left: .6vw;
    top: 1px;
    width: 0.55vw;
    height: 1.1vw;
    border: 0.5px solid #B5B5B5;
    border-width: 0 2px 2px 0;
    background-color: transparent;
}