* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

.clear {
    clear: both;
}

.pageParent {
    background-color: #E5E5E5;
    position: static;
}

.header {
    padding: 2.03% 2.44%;
    background-color: #FFFFFF;
    box-shadow: 0px 3px 0.58vw #BCBCBC40;
    display: flex;
    align-items: center;
}

.navIconContainer {
    width: 86%;
}

.navIconBox {
    width: fit-content;
}

.navIcon {
    width: 2.34vw;
    cursor: pointer;
}

.userContainer {
    width: 14%;
    display: flex;
    align-items: center;
    float: right;
}

.userPicBox {
    width: 24%;
}

.userPic {
    border-radius: 50%;
    width: 3.125vw;
    vertical-align: middle;
}

.userNameBox {
    width: 58%;
}

.userName {
    font: 500 1.17vw/1.36vw 'Roboto';
    letter-spacing: 0.9px;
    color: #5A5A5A;
    vertical-align: middle;
    margin: 0 0.97vw;
}

.dropDownBox {
    width: 14%;
}

.headerDropdown {
    width: 1.17vw;
}

.comContainer {
    padding: 2.9%;
}

.comBox {
    background-color: #EEEEEE;
    box-shadow: 0px 0px 6px #00000029;
}

.comHeader {
    background-color: #FFFFFF;
    padding: 3.73%;
    margin-bottom: 4px;
}

.cardTitle {
    font: 700 1.36vw/1.46vw 'Roboto';
    letter-spacing: 1.4px;
    color: #464646;
}

.cardText {
    font: 400 1.17vw/1.95vw 'Roboto';
    letter-spacing: 0.6px;
    color: #707070;
    padding-top: 1.6%;
    width: 47.7%;
}

.comSubContainer {
    display: flex;
}

.comLeftBox {
    width: 41%;
    float: left;
    border-right: 1px solid #CCCCCC;
    background-color: #FFFFFF;
    margin-top: 3.42%;
}

.vouchers {
    padding: 9.8% 21.4% 6.8% 16.7%;
    border-bottom: 1px solid #CCCCCC;
    background-color: #EEEEEE;
    cursor: pointer;
}

.voucherTitle {
    font: Bold 1.36vw/1.56vw 'Roboto';
    letter-spacing: 1.05px;
    color: #5A5A5A;
}

#profile {
    border-top: 0.29vw solid #E65959;
    padding-top: 3.47%;
}

#people {
    border-top: 0.29vw solid #E65959;
    padding-top: 3.47%;
}

#groups {
    border-top: 0.29vw solid #E65959;
    padding-top: 3.47%;
}

.voucherText {
    font: 400 1.17vw/1.56vw 'Roboto';
    letter-spacing: 0.3px;
    color: #747474;
    padding-top: 5.16%;
}

.highlightVoucher {
    border: 0;
    box-shadow: 0px -5px 10px -5px #00000029, 0px 5px 10px -5px #00000029;
    background-color: #FFFFFF;
    transform: translateX(1px);
}

.lastVoucher {
    border-bottom: 0;
}

.vouchersRightBox {
    width: 59%;
    padding: 3.42% 3.42% 4.15%;
    float: left;
    background-color: #FFFFFF;
    position: relative;
    z-index: 1;
}

.voucherHeading {
    font: 700 1.36vw/1.46vw 'Roboto';
    letter-spacing: 1.4px;
    color: #464646;
}

.imageRow {
    padding-top: 10.87%;
}

.imageContainer {
    width: 9vw;
    margin: 0 auto;
    position: relative;
}

#profileImage {
    width: 9vw;
    display: block;
    margin: auto;
}

#profileEditIcon {
    width: 2.4vw;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    border-radius: 50%;
    box-shadow: 0px 0px 2px #0000004D;
}

#profileToggle {
    display: block;
    margin: 4.94% auto 10.87%;
}

.uploadText {
    font: 500 1.36vw/1.56vw 'Roboto';
    letter-spacing: 0.7px;
    color: #464646;
    text-align: center;
    padding-top: 3%;
}

.fieldRows {
    padding: 6.52% 0;
    border-bottom: 0.5px solid #CCCCCC;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.emailRow {
    flex-direction: column;
    align-items: stretch;
}

.fieldKey {
    font: 400 1.36vw/1.56vw 'Roboto';
    letter-spacing: 1.05px;
    color: #747474;
    padding-bottom: 0.97vw;
}

.fieldValue {
    font: 500 1.56vw/1.66vw 'Roboto';
    letter-spacing: 1.2px;
    color: #505050;
}

.emailToggle {
    padding-top: 1.92vw;
    align-self: flex-end;
}

.placeEditIcon {
    width: 1.66vw;
}

.lastFieldRow {
    padding-top: 6.52%;
    display: flex;
    align-items: stretch;
}

.lastFieldLeft {
    width: 50%;
    position: relative;
}

.redDot {
    background-color: #E65959;
    width: 1.07vw;
    height: 1.07vw;
    border-radius: 50%;
    position: absolute;
    left: 45%;
}

.redDotSpace {
    padding-top: 1.07vw;
}

.lastFieldRight {
    width: 50%;
}

#setupButton {
    float: right;
    height: 100%;
    width: 44.8%;
    box-shadow: 0px 0px 2px #00000029;
    border-radius: 3px;
    font: 500 1.46vw/1.75vw 'Roboto';
    letter-spacing: 1.5px;
    background-color: #32BDD2;
    color: #FFFFFF;
    border: 0;
}

.interestHeader {
    display: flex;
    align-items: flex-end;
    margin-bottom: 9.9%;
}

.backIconBox {
    width: 9.5%;
}

#azureBackIcon {
    width: 3.125vw;
    border-radius: 50%;
    box-shadow: 0px 0px 8px #00000029;
}

.interestTextBox {
    width: 64.8%;
}

.interestHeading {
    font: 700 1.36vw/1.46vw 'Roboto';
    letter-spacing: 1.4px;
    color: #464646;
    padding-bottom: 0.88vw;
}

.interestText {
    font: 400 1.17vw/1.46vw 'Roboto';
    letter-spacing: 0.3px;
    color: #909090;
}

.viewLinkBox {
    width: 25.7%;
    position: relative;
    text-align: right;
}

#viewInterestLink {
    text-decoration: underline;
    font: 400 1.17vw/1.46vw 'Roboto';
    letter-spacing: 0.3px;
    color: #32BDD2;
}

.genreBox {
    margin-bottom: 4.95%;
}

.genreDropIcon {
    width: 1.36vw;
}

.greyBox {
    background: #EEEEEE;
    border: 0.25px solid #B5B5B5;
    padding: 2.77% 5.94% 2.37%;
    display: flex;
    justify-content: space-between;
    align-items: cente
}

.activityBox {
    border: 0.25px solid #B5B5B5;
    border-top: none;
}

.activityRow {
    padding: 4.95% 5.94% 4.95% 0;
    margin-left: 5.94%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid #CCCCCC;
}

.lastActivityRow {
    border-bottom: none;
}

.genre {
    font: 400 1.36vw/2.05vw 'Roboto';
    letter-spacing: 0.35px;
    color: #747474;
}

.activity {
    font: 400 1.36vw/1.27vw 'Roboto';
    letter-spacing: 1.05px;
    color: #747474;
}

.activityCount {
    font: 700 1.36vw/2.05vw 'Lato';
    letter-spacing: 0.35px;
    color: #464646;
}

.showBox {
    margin: 8.96% 5.94% 0;
    /* margin-top: 3.96%; */
    padding: 3.81% 0;
    background-color: #EEEEEE;
    text-align: center;
    box-shadow: 0px 0px 2px #00000029;
}

.showText {
    font: 700 1.17vw/1.36vw 'Roboto';
    letter-spacing: 0.9px;
    color: #747474;
    vertical-align: middle;
    margin-right: 0.97vw;
}

.showDropIcon {
    width: 1.27vw;
    vertical-align: middle;
}


/* ======================================================================== EDIT PIC POPUP =============================================================================================== */

#editPicPopup {
    width: 18.8vw;
    background-color: transparent;
    position: absolute;
    top: -13%;
    left: 85%;
}

#cancelEditIcon {
    width: 2.4vw;
}

.editPicList {
    width: 16.3vw;
    padding: 1.56vw 3.51vw;
    border: 0.5px solid #CCCCCC;
    border-radius: 0px 0.88vw 0.88vw 0.88vw;
    box-shadow: 0px 3px 17px #00000029;
    float: left;
    background-color: #FFFFFF;
}

.editOptions {
    padding: 2.34vw 0;
    font: 400 1.36vw/1.56vw 'Roboto';
    letter-spacing: 0.7px;
    color: #464646;
}

.optionLine {
    border-bottom: 0.5px solid #CCCCCC;
}


/* ================================================================= CUSTOM TOGGLE BUTTON ===================================================================================================== */

.switch {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 17.5px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #EDEFF1;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 21.5px;
    width: 21.5px;
    left: -2px;
    bottom: -2px;
    background-color: #F5F5F5;
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: 0px 0px 3px #0000003C;
}

input:checked+.slider {
    background-color: #32BDD2;
}

input:checked+.slider:before {
    -webkit-transform: translateX(34.5px);
    -ms-transform: translateX(34.5px);
    transform: translateX(34.5px);
}

.slider.round {
    /* Rounded sliders */
    border-radius: 0.88vw;
}

.slider.round:before {
    border-radius: 50%;
}

@media screen and (max-width:768px) {
    .switch {
        width: 39px;
        height: 13px;
    }
    .slider:before {
        height: 16px;
        width: 16px;
        left: -1.5px;
        bottom: -1.5px;
    }
    input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
}

@media screen and (min-width:1025px) and (max-width:1440px) {
    .switch {
        width: 73px;
        height: 24.5px;
    }
    .slider:before {
        height: 30.5px;
        width: 30.5px;
        left: -3px;
        bottom: -3px;
    }
    input:checked+.slider:before {
        -webkit-transform: translateX(48.5px);
        -ms-transform: translateX(48.5px);
        transform: translateX(48.5px);
    }
}

@media screen and (min-width:1441px) and (max-width:1920px) {
    .switch {
        width: 97px;
        height: 32.5px;
    }
    .slider:before {
        height: 40.5px;
        width: 40.5px;
        left: -4px;
        bottom: -4px;
    }
    input:checked+.slider:before {
        -webkit-transform: translateX(64.5px);
        -ms-transform: translateX(64.5px);
        transform: translateX(64.5px);
    }
}

@media screen and (min-width:1921px) and (max-width:2560px) {
    .switch {
        width: 130px;
        height: 43.5px;
    }
    .slider:before {
        height: 53.5px;
        width: 53.5px;
        left: -5px;
        bottom: -5px;
    }
    input:checked+.slider:before {
        -webkit-transform: translateX(86.5px);
        -ms-transform: translateX(86.5px);
        transform: translateX(86.5px);
    }
}


/* =========================================================================CUSTOM CHECKBOX========================================================================================================= */


/* The container */

.custom {
    display: block;
    position: relative;
    cursor: pointer;
    height: 1.7578125vw;
    width: 1.7578125vw;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default checkbox */

.custom input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.7578125vw;
    width: 1.7578125vw;
    background-color: #FFFFFF;
    border: 0.048828125vw solid #B5B5B5;
}


/* When the checkbox is checked, add a black background */

.custom input:checked~.checkmark {
    background-color: #000000;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.custom input:checked~.checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.custom .checkmark:after {
    left: 0.6347656vw;
    top: 0.3515625vw;
    width: 0.341796875vw;
    height: 0.703125vw;
    border: solid white;
    border-width: 0 0.1953125vw 0.1953125vw 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* =============================================================================INTEREST POPUP=================================================================================================== */

.interestPopup {
    text-align: left;
    width: 24.7vw;
    padding: 4.29vw 0 4.29vw 3.515vw;
    box-shadow: 0px 1.07vw 2.44vw #00000040;
    border-radius: 0px 0px 0.97vw 0.97vw;
    background-color: #FFFFFF;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1;
}

.genreBlocks {
    margin-bottom: 1.5625vw;
    border-bottom: 0.5px solid #CCCCCC;
}

.genreTitle {
    font: 500 1.17vw/1.36vw 'Roboto';
    letter-spacing: 1.2px;
    color: #464646;
    padding-bottom: 1.5625vw;
}

.activityTitle {
    font: 400 0.97vw/1.07vw 'Roboto';
    letter-spacing: 0.5px;
    color: #909090;
    padding-bottom: 1.5625vw;
}

.lastGenreBlock {
    border-bottom: none;
}


/* ==================================================================ORIGIN POPUP=========================================================================== */

.translucent {
    width: 100vw;
    height: 100vh;
    background-color: #000000B2;
    position: relative;
}

.originPopup {
    background-color: #FFFFFF;
    width: 55.66%;
    box-shadow: 0px 0px 3.41vw #00000029;
    border-radius: 1.95vw;
    padding: 1.95vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cancelRow {
    padding-bottom: 1.3%;
}

.closeOriginIcon {
    width: 3.71vw;
    float: right;
    border-radius: 50%;
    box-shadow: 0px 0px 10px #00000029;
    border: 0.5px solid #EFEFEF;
}

.originBody {
    padding: 0 1.95vw 1.95vw 1.95vw;
}

.originTitle {
    font: 700 1.56vw/1.85vw 'Roboto';
    letter-spacing: 1.6px;
    color: #32BDD2;
    padding-bottom: 6.12%;
}

.originText {
    width: 93.87%;
    font: 400 1.36vw/2.34vw 'Roboto';
    letter-spacing: 0.7px;
    color: #5A5A5A;
    padding-bottom: 12.24%;
}

.originInputRow {
    padding-bottom: 12.24%;
}

.originInput {
    width: 71.83%;
    display: block;
    margin: auto;
    box-shadow: 0px 0.29296875vw 0.68359375vw #00000026;
    border: 1px solid #F7F4F4;
    border-radius: 1.17vw;
    font: 400 1.36vw/1.56vw 'Roboto';
    letter-spacing: 1.4px;
    color: #464646;
    padding: 3.47% 4.28%;
}

.originBtnRow {
    padding-bottom: 4.08%;
    text-align: center;
}

.originDoneBtn {
    background: #32BDD2;
    box-shadow: 0px 0.390625vw 0.5859375vw #00000029;
    border-radius: 0.29296875vw;
    border: 0;
    text-align: center;
    font: 700 1.46vw/1.75vw 'Roboto';
    letter-spacing: 1.5px;
    color: #FFFFFF;
    padding: 2.04% 6.53%;
}

.failedBackground {
    background-color: #E65959;
}

.failedText {
    color: #E65959;
}

.greyFlex {
    background-color: #EEEEEE;
    display: flex;
    justify-content: space-between;
    padding: 2.21% 5.04%;
    margin-bottom: 10.08%;
}

.greyFlexText {
    font: 400 1.36vw/1.56vw 'Roboto';
    letter-spacing: 1.05px;
    color: #747474;
}

#deleteUploadIcon {
    width: 1.46vw;
    vertical-align: middle;
}

.leftButton {
    text-align: left;
}

.uploadBox {
    box-shadow: 0px 0px 10px #00000029;
    border: 0.5px solid #CCCCCC;
    display: flex;
    margin-bottom: 10%;
}

.browseBox {
    padding: 4.36% 5.45%;
    width: 50%;
}

.browseText {
    font: 500 1.17vw/1.46vw 'Roboto';
    letter-spacing: 0.3px;
    color: #747474;
}

.browseSubText {
    font: 400 0.97vw/1.46vw 'Roboto';
    letter-spacing: 0;
    color: #747474;
}

.browseButton {
    background: #32BDD2;
    border: 1px solid #32BDD2;
    border-radius: 4px;
    font: 700 0.97vw/1.07vw 'Roboto';
    letter-spacing: 0.5px;
    color: #FFFFFF;
    border: 0;
    padding: 2.78% 6.75%;
    margin-top: 12%;
}

.dropBox {
    width: 50%;
    background-color: #32BDD2;
    padding: 2.77% 3.57%;
}

.dashedBorderBox {
    border: 2px dashed #FFFFFF;
    border-radius: 4px;
    padding: 12% 0;
}

#uploadProfileIcon {
    width: 2.44vw;
    display: block;
    margin: auto;
}

.dropText {
    font: 400 1.17vw/1.46vw 'Roboto';
    letter-spacing: 0;
    color: #FFFFFFCC;
    text-align: center;
}

.btnAdjust {
    padding-left: 9.18%;
    padding-right: 9.18%;
    margin-left: 6.12%;
}