* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 0, 0, 0.4);
}

.optionsPopup {
    width: 22.1%;
}

.imgRow {
    background-color: transparent;
}

.cancelIcon {
    width: 60px;
    float: right;
}

.optionsBox {
    background-color: #FFFFFF;
    padding: 0 11.4%;
}

.row {
    border-bottom: 1px solid #F0F0F0;
    padding: 11.4% 0;
}

.options {
    width: 70%;
    float: left;
    font-family: 'Roboto';
    font-size: 1.17vw;
    letter-spacing: 0.6px;
    color: #595959;
    padding-bottom: 7px;
}

.visuals {
    width: 30%;
    float: right;
}

.icons {
    width: 32px;
    float: right;
}

.clear {
    clear: both;
}

@media screen and (max-width:768px) {
    .cancelIcon {
        width: 24px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .cancelIcon {
        width: 32px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .cancelIcon {
        width: 45px;
    }
}

@media screen and (min-width: 1921px) and (max-width: 2560px) {
    .cancelIcon {
        width: 80px;
    }
}