* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    outline: none;
}

.page {
    background-color: #FAFAFA;
}

.header {
    box-shadow: 0px 3px 6px #BCBCBC40;
    background-color: #FFFFFF;
    padding: 2% 3.4%;
    display: flex;
    align-items: center;
}

.leftFlex {
    width: 85%;
    float: left;
    display: flex;
}

.dashboardBox {
    width: 18%;
}

.lightText {
    font-family: 'Roboto';
    font-size: 1.36vw;
    letter-spacing: 0.7px;
    color: #909090;
}

.coursesBox {
    width: 16%;
    cursor: pointer;
}

.underline {
    padding-bottom: 6px;
    border-bottom: 4px solid #32BDD2;
}

.darkText {
    font-family: 'Roboto';
    font-size: 1.36vw;
    font-weight: 500;
    letter-spacing: 0.7px;
    color: #595959;
}

.reportsBox {
    width: 15%;
}

.systemsBox {
    width: 51%;
}

.clear {
    clear: both;
}

.rightFlex {
    width: 15%;
    float: right;
    display: flex;
    align-items: center;
    position: relative;
}

.imageBox {
    width: 30%;
}

.userImage {
    width: 3.125vw;
}

.nameBox {
    width: 63%;
}

.userName {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 1.17vw;
    letter-spacing: 0.9px;
    color: #5A5A5A;
}

.downBox {
    width: 7%;
}

.downImage {
    width: 0.97vw;
    cursor: pointer;
}

.parent {
    padding: 4.19% 2.44% 3.02% 2.44%;
    box-shadow: 0px 3px 6px #00000029;
}

.container {
    background-color: #FFFFFF;
    box-shadow: 0px 3px 6px #00000029;
}

.row {
    padding: 0 3%
}

.seleted_option {
    padding: 5.13% 3% 6.06% 3%;
    border-bottom: 0.4vw solid #FAFAFA;
}

.Section {
    text-align: left;
    font-family: 'Roboto';
    font-size: 1.75vw;
    letter-spacing: 0.9px;
    color: #000000;
    border-bottom: .3vw solid #32BDD2;
    padding-bottom: 0.74%;
}

.Lessons {
    text-align: left;
    font: 600 1.36vw/16px 'Roboto';
    letter-spacing: 1.4px;
    color: #595959;
}

.Lessons-top {
    padding-top: 3.69%;
}

.desc {
    width: 40.69%;
    text-align: left;
    font: 400 1.17vw/14px 'Roboto';
    letter-spacing: .6px;
    color: #747474;
    line-height: 1.1;
    padding-top: 1.25%;
}

.video {
    padding-top: 4.41%;
}

.lorem {
    width: 53.13%;
    text-align: left;
    font: 400 1.17vw/1.56vw 'Roboto';
    letter-spacing: 0.6px;
    color: #595959;
}

.read {
    text-align: left;
    font: 600 0.97vw/30px 'Roboto';
    letter-spacing: 0.5px;
    color: #909090;
    padding-top: 2.36%;
}

.footer {
    padding: 13.15% 0 3.699% 0;
}

.cancel {
    text-align: left;
    font-family: 'Roboto';
    font-size: 1.17vw;
    letter-spacing: 1.2px;
    color: #747474;
    border-bottom: 1px solid #747474;
    font-weight: 600;
    cursor: pointer;
}

.done {
    background: #32BDD2;
    border-radius: 4px;
    text-align: center;
    font-family: 'Roboto';
    font-size: 1.17vw;
    font-weight: bold;
    letter-spacing: 1.2px;
    color: #FFFFFF;
    border: 1px solid #32BDD2;
    padding: 1% 4%;
    cursor: pointer;
    float: right;
}

.clear {
    clear: both;
}

@media only screen and (max-width: 768px) {
    .dropdown {
        width: 7.2px;
    }
    .profile_pic {
        width: 24.15px;
    }
}

@media only screen and (max-width: 1440px) and (min-width: 1025px) {
    .dropdown {
        width: 12.59px;
    }
    .profile_pic {
        width: 45.15px;
    }
}

@media only screen and (max-width: 1920px) and (min-width:1441px) {
    .dropdown {
        width: 18.89px;
    }
    .profile_pic {
        width: 60.15px;
    }
}

@media only screen and (max-width: 2560px) and (min-width:1991px) {
    .dropdown {
        width: 22.89px;
    }
    .profile_pic {
        width: 80.15px;
    }
    .error {
        width: 40.69px;
    }
}


/* ==========================================================================================================================*/

.popupcontainer {
    width: 21vw;
    background-color: #fff;
    box-shadow: 0px 0px 12px #60606029;
    border: 1px solid #F7F7F7;
    padding: 2% 0 2% 2%;
    position: absolute;
    top: 158%;
    right: -7%;
    z-index: 1;
}

.popuptext {
    font-family: 'Roboto';
    font-size: 1.36vw;
    color: #595959;
    letter-spacing: 1.4px;
    padding: 11% 0 11% 18%;
}