* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.header {
    width: 100%;
    display: flex;
    box-shadow: 0px 3px 6px #BCBCBC40;
    padding-left: 2.92%;
    padding-right: 3.51%;
    align-items: center;
}

.header_left_part {
    width: 85%;
}

.list {
    display: flex;
    align-items: center;
}

.dashboard_top {
    width: 17.28%;
    padding: 0 6.34% 0 0;
}

.corses_top {
    width: 14.80%;
    padding: 0 6.34% 0 0;
}

.report_top {
    width: 14.56%;
    padding: 0 6.34% 0 0;
}

.system_top {
    width: 14.80%;
    padding: 0 6.34% 0 0;
}

.dashboard {
    font-size: 1.35vw;
    font-family: 'Roboto';
    letter-spacing: 0.7px;
    color: #909090;
}

.report {
    font-size: 1.35vw;
    font-family: 'Roboto';
    letter-spacing: 0.7px;
    color: #909090;
}

.system {
    font-size: 1.35vw;
    font-family: 'Roboto';
    letter-spacing: 0.7px;
    color: #909090;
}

.corses {
    font-size: 1.35vw;
    font-family: 'Roboto';
    letter-spacing: 0.7px;
    color: #595959;
    border-bottom: .3vw solid #32BDD2;
}

.header_right_part {
    width: 15%;
    padding: 02% 0;
}

.profile_part {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.profile_pic {
    width: 32.15px;
    vertical-align: middle;
}

.name {
    text-align: left;
    font-size: 1.17vw;
    font-family: 'Roboto';
    letter-spacing: 0.9px;
    color: #5A5A5A;
}

.dropdown {
    width: 9.89px;
    vertical-align: middle;
}

.course {
    text-align: left;
    font-family: 'Roboto';
    font-size: 1.75vw;
    letter-spacing: 0.9px;
    color: #000000;
    border-bottom: .2vw solid #32BDD2;
    padding-bottom: 1%;
}

.parent {
    background-color: #FAFAFA;
    padding: 4.19% 2.44% 3.02% 2.44%;
    border: 1px solid #FAFAFA;
}

.container {
    background-color: #FFFFFF;
    box-shadow: 0px 3px 6px #00000029;
}

.footer {
    text-align: center;
    padding: 2.90% 0;
}

.showmore {
    font-size: 1.36vw;
    font-family: 'Roboto';
    letter-spacing: 1.4px;
    color: #595959;
    border: ipx solid #00000029;
    font-weight: bold;
    padding-right: 1%;
}

.seleted_option {
    padding: 5.13% 3% 6.06% 3%;
    /* box-shadow: 0px 3px 6px #00000029; */
    border: 1px solid #00000029;
}

.Section {
    text-align: left;
    width: fit-content;
    font-family: 'Roboto';
    font-size: 1.75vw;
    letter-spacing: 0.9px;
    color: #000000;
    border-bottom: .3vw solid #32BDD2;
    padding-bottom: 0%;
}

.climate {
    padding: 3% 3%;
    /* box-shadow: 0px 3px 6px #00000029; */
    border: 1px solid #00000029;
}

.basic {
    text-align: left;
    font-family: 'Roboto';
    font-size: 1.35vw;
    letter-spacing: 1.4px;
    color: #595959;
}

.description {
    text-align: left;
    font-family: 'Roboto';
    font-size: 1.17vw;
    letter-spacing: 0.6px;
    color: #747474;
    padding-top: 1%;
    width: 40.06%;
}

.Lessons {
    text-align: left;
    width: fit-content;
    font-family: 'Roboto';
    font-size: 1.15vw;
    letter-spacing: 0.9px;
    color: #000000;
    border-bottom: .2vw solid #32BDD2;
}

.Lessons-top {
    padding: 2.22% 3% 4.80% 3%;
}

.addTop {
    padding-top: 4.83%;
}

.add_topic {
    margin: auto;
    border: 6px dashed #D5CCCC;
    padding: 3% 3.08%;
    text-align: center;
    margin: 0 3%;
}

.pluse {
    width: 30px;
    vertical-align: middle;
}

.bar_icon {
    float: right;
    clear: right;
}

.topic {
    text-align: left;
    font-family: 'Roboto';
    font-size: 1.17vw;
    letter-spacing: 1.4px;
    color: #595959;
    padding-left: 1%;
}

.changr_dropdown {
    width: 13.8px;
    vertical-align: middle;
}

.element_one {
    width: 2%;
}

.elements_two {
    width: 95%;
}

.elements_three {
    width: 3%;
    position: relative;
}

.instruction {
    text-align: left;
    font-family: 'Roboto';
    font-size: 1.17vw;
    letter-spacing: 1.2px;
    color: #595959;
    padding-left: 1.43%;
}

.bar {
    display: flex;
    align-items: center;
    background-color: #F0F0F0;
    border: 1px solid #F0F0F0;
    margin-top: 4.93%;
    padding: 2.26% 3.18%;
}

.bottom_bar {
    display: flex;
    align-items: center;
    background-color: #F0F0F0;
    border: 1px solid #F0F0F0;
    margin-top: 4.93%;
    padding: 2.26% 3.18%;
}

.colom_1 {
    width: 70%;
}

.colom_2 {
    width: 15%;
    text-align: center;
    position: relative;
}

.colom_3 {
    width: 15%;
    text-align: right;
}

.table_heading {
    padding: 0 3.08%;
}

.table {
    display: flex;
    align-items: center;
    border: 2px solid #F0F0F0;
    padding: 0 3.08% 0 5.94%;
}

.change {
    text-align: left;
    font-family: 'Roboto';
    font-size: 1.17vw;
    font-weight: bold;
    letter-spacing: 1.2px;
    color: #595959;
}

.desc {
    text-align: left;
    font-family: 'Roboto';
    font-size: 1.07vw;
    letter-spacing: 1.2px;
    color: #595959;
    padding-top: 0.88%;
    width: 75%;
}

.one {
    width: 90.27%;
    padding: 2% 0%;
}

.time {
    text-align: right;
    font-family: 'Roboto';
    font-size: 1.75vw;
    letter-spacing: 1.8px;
    color: #5A5A5A;
}

.background {
    background-color: #00000066;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

@media only screen and (max-width: 768px) {
    .dropdown {
        width: 7.2px;
    }
    .profile_pic {
        width: 24.15px;
    }
    .icon {
        width: 8.2px;
    }
    .pluse {
        width: 21.70px;
    }
    .changr_dropdown {
        width: 9.75px;
    }
}

@media only screen and (max-width: 1440px) and (min-width: 1025px) {
    .dropdown {
        width: 12.59px;
    }
    .profile_pic {
        width: 45.15px;
    }
    .icon {
        width: 15.4px;
    }
    .pluse {
        width: 42.2px;
    }
    .changr_dropdown {
        width: 18.8px;
    }
}

@media only screen and (max-width: 1920px) and (min-width:1441px) {
    .dropdown {
        width: 18.89px;
    }
    .profile_pic {
        width: 60.15px;
    }
    .icon {
        width: 20.5px;
    }
    .pluse {
        width: 56px;
    }
    .changr_dropdown {
        width: 24.8px;
    }
}

@media only screen and (max-width: 2560px) and (min-width:1991px) {
    .dropdown {
        width: 22.89px;
    }
    .profile_pic {
        width: 80.15px;
    }
    .icon {
        width: 30px;
    }
    .pluse {
        width: 75px;
    }
    .changr_dropdown {
        width: 32.8px;
    }
}


/* ============================================================ edit pop============================================================================================== */

.parent_pop {
    padding: 0 7.16% 7.16 7.16%;
    width: 34.08vw;
    z-index: 2;
    position: absolute;
    top: 0;
    right: -21%;
}

.containt_row {
    background-color: #fff;
    box-shadow: 0px 1px 20px #00000029;
}

.containerPop {
    padding: 7.16% 7.16% 0 7.16%;
}

.row {
    border-bottom: 2px solid #F7F7F7;
    padding-bottom: 7.16%;
}

.publish {
    font-size: 1.35vw;
    color: #595959;
    text-align: left;
    font-weight: bold;
    font-family: 'Roboto';
}

.description {
    width: 81.08%;
    font-size: 1.17vw;
    color: #595959;
    text-align: left;
    font-family: 'Roboto';
    padding-top: 2.53%;
}

.delete_row {
    font-size: 1.17vw;
    color: #595959;
    font-family: 'Roboto';
    text-align: left;
    padding: 7.16%;
}

.cancel_row {
    text-align: right;
}

.cancel {
    vertical-align: bottom;
    width: 32px;
    height: 32px;
}

@media only screen and (max-width: 768px) {
    .cancel {
        width: 24px;
        height: 24px;
    }
}

@media only screen and (max-width: 1440px) and (min-width: 1025px) {
    .cancel {
        width: 45px;
        height: 45px;
    }
}

@media only screen and (max-width: 1920px) and (min-width:1441px) {
    .cancel {
        width: 80px;
        height: 80px;
    }
}

@media only screen and (max-width: 2560px) and (min-width:1991px) {
    .cancel {
        width: 80px;
        height: 80px;
    }
}


/* ===========================================================option pop=============================================================== */

.optionsPopup {
    width: 22.1vw;
    position: absolute;
    top: 0;
    right: 37%;
    z-index: 2;
}

.imgRow {
    background-color: transparent;
}

.cancelIcon {
    width: 60px;
    float: right;
}

.optionsBox {
    background-color: #FFFFFF;
    padding: 0 11.4%;
}

.row {
    border-bottom: 1px solid #F0F0F0;
    padding: 11.4% 0;
}

.options {
    width: 70%;
    float: left;
    font-family: 'Roboto';
    font-size: 1.17vw;
    letter-spacing: 0.6px;
    color: #595959;
    padding-bottom: 7px;
    text-align: left;
}

.visuals {
    width: 30%;
    float: right;
}

.icons {
    width: 1.07vw;
    float: right;
}

.clear {
    clear: both;
}

@media screen and (max-width:768px) {
    .cancelIcon {
        width: 24px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .cancelIcon {
        width: 32px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .cancelIcon {
        width: 45px;
    }
}

@media screen and (min-width: 1921px) and (max-width: 2560px) {
    .cancelIcon {
        width: 80px;
    }
}