* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    outline: none;
}

.page {
    background-color: #FAFAFA;
}

.header {
    box-shadow: 0px 3px 6px #BCBCBC40;
    background-color: #FFFFFF;
    padding: 2% 3.4%;
    display: flex;
    align-items: center;
}

.leftFlex {
    width: 85%;
    float: left;
    display: flex;
}

.dashboardBox {
    width: 18%;
}

.lightText {
    font-family: 'Roboto';
    font-size: 1.36vw;
    letter-spacing: 0.7px;
    color: #909090;
}

.coursesBox {
    width: 16%;
}

.underline {
    padding-bottom: 6px;
    border-bottom: 4px solid #32BDD2;
}

.darkText {
    font-family: 'Roboto';
    font-size: 1.36vw;
    font-weight: 500;
    letter-spacing: 0.7px;
    color: #595959;
}

.reportsBox {
    width: 15%;
}

.systemsBox {
    width: 51%;
}

.clear {
    clear: both;
}

.rightFlex {
    width: 15%;
    float: right;
    display: flex;
    align-items: center;
    position: relative;
}

.imageBox {
    width: 30%;
}

.userImage {
    width: 3.125vw;
}

.nameBox {
    width: 63%;
}

.userName {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 1.17vw;
    letter-spacing: 0.9px;
    color: #5A5A5A;
}

.downBox {
    width: 7%;
}

.downImage {
    width: .97vw;
}

.popupcontainer {
    width: 21vw;
    background-color: #fff;
    box-shadow: 0px 0px 12px #60606029;
    border: 1px solid #F7F7F7;
    padding: 2% 0 2% 2%;
    position: absolute;
    top: 158%;
    right: -7%;
    z-index: 1;
}

.popuptext {
    font-family: 'Roboto';
    font-size: 1.36vw;
    color: #595959;
    letter-spacing: 1.4px;
    padding: 11% 0 11% 18%;
}

.course {
    text-align: left;
    font-family: 'Roboto';
    font-size: 1.75vw;
    letter-spacing: 0.9px;
    color: #000000;
    border-bottom: .2vw solid #32BDD2;
    padding-bottom: 1%;
}

.parent {
    padding: 4.19% 2.44% 3.02% 2.44%;
}

.container {
    background-color: #FFFFFF;
    box-shadow: 0px 3px 6px #00000029;
}

.seleted_option {
    padding: 5.13% 3% 6.06% 3%;
    border-bottom: .4vw solid #FAFAFA;
}

.Section {
    text-align: left;
    width: fit-content;
    font-family: 'Roboto';
    font-size: 1.75vw;
    letter-spacing: 0.9px;
    color: #000000;
    border-bottom: .3vw solid #32BDD2;
    padding-bottom: 0%;
}

.Lessons {
    text-align: left;
    width: fit-content;
    font-family: 'Roboto';
    font-size: 1.17vw;
    letter-spacing: 0.9px;
    color: #595959;
}

.Lessons-top {
    padding: 3.69% 3% 2.0% 2.98%;
}

.Lessons-top input {
    width: 46.765%;
    padding: 1%;
    margin-top: 0.88%;
    border: 1px solid #CECECE;
    border-radius: .4vw;
}

.Lessons-top textarea {
    width: 36.765%;
    margin-top: 0.88%;
    border: 1px solid #CECECE;
    border-radius: .4vw;
}

.row {
    padding: 3.39% 3.08% 34% 3.08%;
}

.failed_container {
    border: 1px solid #B98080;
    background-color: #F7D1D1;
    padding: 3.06% 3.33%;
}

.failed {
    text-align: left;
    font-family: 'Roboto';
    font-size: 1.75vw;
    letter-spacing: 1.4px;
    color: #573030;
    padding-bottom: 1.97%;
}

.description {
    text-align: left;
    font-family: 'Roboto';
    font-size: 1.17vw;
    letter-spacing: 0.6px;
    color: #573030;
    width: 43.73%;
}

@media only screen and (max-width: 768px) {
    .dropdown {
        width: 7.2px;
    }
    .profile_pic {
        width: 24.15px;
    }
}

@media only screen and (max-width: 1440px) and (min-width: 1025px) {
    .dropdown {
        width: 12.59px;
    }
    .profile_pic {
        width: 45.15px;
    }
}

@media only screen and (max-width: 1920px) and (min-width:1441px) {
    .dropdown {
        width: 18.89px;
    }
    .profile_pic {
        width: 60.15px;
    }
}

@media only screen and (max-width: 2560px) and (min-width:1991px) {
    .dropdown {
        width: 22.89px;
    }
    .profile_pic {
        width: 80.15px;
    }
}