* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    outline: none;
}

.h.page {
    background-color: #FAFAFA;
}

.header {
    box-shadow: 0px 3px 6px #BCBCBC40;
    background-color: #FFFFFF;
    padding: 2% 3.4%;
    display: flex;
    align-items: center;
}

.leftFlex {
    width: 85%;
    float: left;
    display: flex;
}

.dashboardBox {
    width: 18%;
}

.lightText {
    font-family: 'Roboto';
    font-size: 1.36vw;
    letter-spacing: 0.7px;
    color: #909090;
}

.coursesBox {
    width: 16%;
}

.underline {
    padding-bottom: 6px;
    border-bottom: 4px solid #32BDD2;
}

.darkText {
    font-family: 'Roboto';
    font-size: 1.36vw;
    font-weight: 500;
    letter-spacing: 0.7px;
    color: #595959;
}

.reportsBox {
    width: 15%;
}

.systemsBox {
    width: 51%;
}

.clear {
    clear: both;
}

.rightFlex {
    width: 15%;
    float: right;
    display: flex;
    align-items: center;
    position: relative;
}

.imageBox {
    width: 30%;
}

.userImage {
    width: 3.125vw;
}

.nameBox {
    width: 63%;
}

.userName {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 1.17vw;
    letter-spacing: 0.9px;
    color: #5A5A5A;
}

.downBox {
    width: 7%;
}

.downImage {
    width: .97vw;
}

.popupcontainer {
    width: 21vw;
    background-color: #fff;
    box-shadow: 0px 0px 12px #60606029;
    border: 1px solid #F7F7F7;
    padding: 2% 0 2% 2%;
    position: absolute;
    top: 158%;
    right: -7%;
    z-index: 1;
}

.popuptext {
    font-family: 'Roboto';
    font-size: 1.36vw;
    color: #595959;
    letter-spacing: 1.4px;
    padding: 11% 0 11% 18%;
}

.course {
    text-align: left;
    font-family: 'Roboto';
    font-size: 1.75vw;
    letter-spacing: 0.9px;
    color: #000000;
    border-bottom: .2vw solid #32BDD2;
    padding-bottom: 1%;
}

.parent {
    padding: 4.19% 2.44% 3.02% 2.44%;
}

.container {
    background-color: #FFFFFF;
    box-shadow: 0px 3px .58vw #00000029;
}

.row {
    box-shadow: 0px 3px 6px #00000029;
}

.seleted_option {
    padding: 5.13% 3% 6.06% 3%;
    box-shadow: 0px 3px 6px #00000029;
}

.Section {
    text-align: left;
    width: fit-content;
    font-family: 'Roboto';
    font-size: 1.75vw;
    letter-spacing: 0.9px;
    color: #000000;
    border-bottom: .3vw solid #32BDD2;
    padding-bottom: 0%;
}

.Lessons {
    text-align: left;
    width: fit-content;
    font-family: 'Roboto';
    font-size: 1.17vw;
    letter-spacing: 0.9px;
    color: #595959;
}

.Lessons-top {
    padding: 3.69% 3% 5.13% 3%;
}

.Lessons-top input {
    width: 46.765%;
    padding: 1%;
    margin-top: 0.88%;
    border: 1px solid #CECECE;
    border-radius: .4vw;
}

.add_topic {
    margin: auto;
    border: 6px dashed #D5CCCC;
    padding: 3% 3.08%;
    text-align: center;
    margin: 0 3%;
}

.pluse {
    width: 30px;
    vertical-align: middle;
}

.topic {
    text-align: left;
    font-family: 'Roboto';
    font-size: 1.17vw;
    letter-spacing: 1.4px;
    color: #595959;
    padding-left: 1%;
    font-weight: bold;
}

.changr_dropdown {
    width: 13.8px;
    vertical-align: middle;
}

.instruction {
    text-align: left;
    font-family: 'Roboto';
    font-size: 1.17vw;
    letter-spacing: 1.2px;
    color: #595959;
    padding-left: 1.43%;
    font-weight: bold;
}

.bar {
    display: flex;
    align-items: center;
    background-color: #FAFBFC;
    border: 1px solid #F0F0F0;
    margin-top: 4.93%;
    padding: 2.26% 3.18%;
}

.elements_two {
    width: 97%;
    float: left;
}

.elements_three {
    width: 3%;
    float: right;
    position: relative;
}

.clear {
    clear: both;
}

.table_heading {
    padding: 0 3.08%;
}

.footer {
    padding: 2.90% 0;
    padding: 15% 3.18% 7.70% 3.18%;
}

.footer_left {
    width: 50%;
    float: left;
}

.footer_right {
    width: 50%;
    float: right;
}

.cancel {
    width: fit-content;
    text-align: left;
    font-family: 'Roboto';
    font-size: 1.17vw;
    letter-spacing: 1.2px;
    color: #747474;
    border-bottom: 1px solid #747474;
    font-weight: 600;
}

.done {
    background: #32BDD2;
    border-radius: 4px;
    text-align: center;
    font-family: 'Roboto';
    font-size: 1.17vw;
    font-weight: bold;
    letter-spacing: 1.2px;
    color: #FFFFFF;
    border: 1px solid #32BDD2;
    padding: 1% 4%;
    cursor: pointer;
    float: right;
}

@media only screen and (max-width: 768px) {
    .dropdown {
        width: 7.2px;
    }
    .profile_pic {
        width: 24.15px;
    }
    .icon {
        width: 8.2px;
    }
    .pluse {
        width: 21.70px;
    }
    .changr_dropdown {
        width: 9.75px;
    }
}

@media only screen and (max-width: 1440px) and (min-width: 1025px) {
    .dropdown {
        width: 12.59px;
    }
    .profile_pic {
        width: 45.15px;
    }
    .icon {
        width: 15.4px;
    }
    .pluse {
        width: 42.2px;
    }
    .changr_dropdown {
        width: 18.8px;
    }
}

@media only screen and (max-width: 1920px) and (min-width:1441px) {
    .dropdown {
        width: 18.89px;
    }
    .profile_pic {
        width: 60.15px;
    }
    .icon {
        width: 20.5px;
    }
    .pluse {
        width: 56px;
    }
    .changr_dropdown {
        width: 24.8px;
    }
}

@media only screen and (max-width: 2560px) and (min-width:1991px) {
    .dropdown {
        width: 22.89px;
    }
    .profile_pic {
        width: 80.15px;
    }
    .icon {
        width: 30px;
    }
    .pluse {
        width: 75px;
    }
    .changr_dropdown {
        width: 32.8px;
    }
}


/* =============================================edit pop====================================================================================== */

.bground {
    background-color: #00000029;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.textpop {
    text-align: left;
    font-family: 'Roboto';
    font-size: 1.17vw;
    letter-spacing: 0.6px;
    color: #595959;
}

.dropdownpop {
    width: 1.17vw;
    vertical-align: middle;
    float: right;
}

.delete {
    float: right;
    width: 1.36vw;
    vertical-align: middle;
}

.cancelpop {
    width: 3.125vw;
    vertical-align: bottom;
}

.top {
    padding: 11.49% 0 8.33% 0;
    border-bottom: 1px solid #F0F0F0;
}

.bottom {
    padding: 11.49% 0 11.50% 0;
    border-bottom: 1px solid #F0F0F0;
}

.containerpop {
    padding: 0 11.50% 0 11.50%;
    box-shadow: 0px 0px 20px #60606029;
    background-color: #fff;
}

.parentpop {
    width: 22.07vw;
    position: absolute;
    top: 0;
    right: -20%;
    z-index: 2;
}

.cancel_row {
    text-align: right;
}