* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    outline: none;
}

.page {
    background-color: #FAFAFA;
}

.header {
    box-shadow: 0px 3px 6px #BCBCBC40;
    background-color: #FFFFFF;
    padding: 2% 3.4%;
    display: flex;
    align-items: center;
}

.leftFlex {
    width: 85%;
    float: left;
    display: flex;
}

.dashboardBox {
    width: 18%;
}

.lightText {
    font-family: 'Roboto';
    font-size: 1.36vw;
    letter-spacing: 0.7px;
    color: #909090;
}

.coursesBox {
    width: 16%;
}

.underline {
    padding-bottom: 6px;
    border-bottom: 4px solid #32BDD2;
}

.darkText {
    font-family: 'Roboto';
    font-size: 1.36vw;
    font-weight: 500;
    letter-spacing: 0.7px;
    color: #595959;
}

.reportsBox {
    width: 15%;
}

.systemsBox {
    width: 51%;
}

.clear {
    clear: both;
}

.rightFlex {
    width: 15%;
    float: right;
    display: flex;
    align-items: center;
    position: relative;
}

.imageBox {
    width: 30%;
}

.userImage {
    width: 3.125vw;
}

.nameBox {
    width: 63%;
}

.userName {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 1.17vw;
    letter-spacing: 0.9px;
    color: #5A5A5A;
}

.downBox {
    width: 7%;
}

.downImage {
    width: .97vw;
}

.popupcontainer {
    width: 21vw;
    background-color: #fff;
    box-shadow: 0px 0px 12px #60606029;
    border: 1px solid #F7F7F7;
    padding: 2% 0 2% 2%;
    position: absolute;
    top: 158%;
    right: -7%;
    z-index: 1;
}

.popuptext {
    font-family: 'Roboto';
    font-size: 1.36vw;
    color: #595959;
    letter-spacing: 1.4px;
    padding: 11% 0 11% 18%;
}

.course {
    text-align: left;
    font-family: 'Roboto';
    font-size: 1.75vw;
    letter-spacing: 0.9px;
    color: #000000;
    border-bottom: .2vw solid #32BDD2;
    padding-bottom: 1%;
}

.parent {
    padding: 4.19% 2.44% 3.02% 2.44%;
}

.container {
    background-color: #FFFFFF;
    box-shadow: 0px 3px 6px #00000029;
}

.row {
    border-bottom: .4vw solid #FAFAFA;
    padding: 0 3%;
}

.seleted_option {
    padding: 5.13% 3% 6.06% 3%;
    border-bottom: .4vw solid #FAFAFA;
}

.Section {
    text-align: left;
    width: fit-content;
    font-family: 'Roboto';
    font-size: 1.75vw;
    letter-spacing: 0.9px;
    color: #000000;
    border-bottom: .3vw solid #32BDD2;
    padding-bottom: 0%;
}

.Lessons {
    text-align: left;
    width: fit-content;
    font-family: 'Roboto';
    font-size: 1.17vw;
    letter-spacing: 0.9px;
    color: #595959;
}

.Lessons-top {
    padding: 3.69% 0 5.13% 0;
}

.Lessons-top input {
    width: 46.765%;
    padding: 1%;
    margin-top: 0.88%;
    border: 1px solid #CECECE;
    border-radius: .4vw;
}

.attachments {
    text-align: left;
    font-family: 'Roboto';
    font-size: 1.75vw;
    letter-spacing: 0.7px;
    color: #595959;
}

.attachments_top {
    padding-bottom: 2.0%;
}

.desc {
    text-align: left;
    font-family: 'Roboto';
    font-size: 1.17vw;
    letter-spacing: 0.6px;
    color: #747474;
    width: 40.69%;
    padding-top: 1.23%;
}

.clear {
    clear: both;
}

.file_container {
    width: 56.52%;
    display: flex;
    align-items: center;
    background: #FFFFFF;
    border: 0.5px solid #B5B5B5;
}

.browse_container {
    width: 50%;
    padding: 5%;
}

.drop_container {
    width: 50%;
    background-color: #32BDD2;
    padding: 03%;
}

.select {
    text-align: left;
    font-family: 'Roboto';
    font-size: 1.07vw;
    letter-spacing: 0;
    color: #747474;
    font-weight: bold;
}

.mb {
    text-align: left;
    font-family: 'Roboto';
    font-size: 1.07vw;
    letter-spacing: 0;
    color: #747474;
    padding-bottom: 05.81%;
}

.browse {
    background: #32BDD2;
    border-radius: 4px;
    text-align: center;
    font-family: 'Roboto';
    font-size: .97vw;
    font-weight: bold;
    letter-spacing: 1.2px;
    color: #FFFFFF;
    border: 1px solid #32BDD2;
    padding: 1% 4%;
    cursor: pointer;
}

.browse_icon {
    width: 32px;
    display: block;
    margin: auto;
}

.drop {
    text-align: center;
    font-family: 'Roboto';
    font-size: 1.07vw;
    letter-spacing: 0;
    color: #fff;
}

.border {
    border: 2px dashed #FFFFFF;
    border-radius: 4px;
    padding: 6% 6.90%;
}

.footer {
    padding: 2.90% 0;
    padding: 9.66% 0 3.90% 0;
}

.footer_left {
    width: 50%;
    float: left;
    padding-top: 1%;
}

.footer_right {
    width: 50%;
    float: right;
}

.cancel {
    width: fit-content;
    text-align: left;
    font-family: 'Roboto';
    font-size: 1.17vw;
    letter-spacing: 1.2px;
    color: #747474;
    border-bottom: 1px solid #747474;
    font-weight: bold;
}

.done {
    background: #32BDD2;
    border-radius: 4px;
    text-align: center;
    font-family: 'Roboto';
    font-size: 1.17vw;
    font-weight: bold;
    letter-spacing: 1.2px;
    color: #FFFFFF;
    border: 1px solid #32BDD2;
    padding: 1% 4%;
    cursor: pointer;
    float: right;
}

@media only screen and (max-width: 768px) {
    .dropdown {
        width: 7.2px;
    }
    .profile_pic {
        width: 24.15px;
    }
    .browse_icon {
        width: 24px;
    }
}

@media only screen and (max-width: 1440px) and (min-width: 1025px) {
    .dropdown {
        width: 12.59px;
    }
    .profile_pic {
        width: 45.15px;
    }
    .browse_icon {
        width: 45px;
    }
}

@media only screen and (max-width: 1920px) and (min-width:1441px) {
    .dropdown {
        width: 18.89px;
    }
    .profile_pic {
        width: 60.15px;
    }
    .browse_icon {
        width: 60px;
    }
}

@media only screen and (max-width: 2560px) and (min-width:1991px) {
    .dropdown {
        width: 22.89px;
    }
    .profile_pic {
        width: 80.15px;
    }
    .browse_icon {
        width: 80px;
    }
}


/* ==========================================================================================================================*/