* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    background-color: #00000066;
}

.iconPopup {
    width: 22vw;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

.text {
    text-align: left;
    font-family: 'Roboto';
    font-size: 1.17vw;
    letter-spacing: 0.6px;
    color: #595959;
}

.dropdown {
    width: 11.22px;
    vertical-align: middle;
    float: right;
}

.delete {
    float: right;
    width: 13.60px;
    vertical-align: middle;
}

.exit {
    width: 30px;
    vertical-align: bottom;
}

.iconRow {
    padding: 11.49% 0 8.33% 0;
    border-bottom: 1px solid #F0F0F0;
}

.iconContainer {
    padding: 0 11.50% 0 11.50%;
    box-shadow: 0px 0px 20px #60606029;
    background-color: #fff;
}

.cancel_row {
    text-align: right;
}

@media only screen and (max-width: 768px) {
    .dropdown {
        width: 8.22px;
    }
    .delete {
        float: right;
        width: 8px;
    }
    .exit {
        width: 22.5px;
    }
}

@media only screen and (max-width: 1440px) and (min-width: 1025px) {
    .dropdown {
        width: 15.22px;
    }
    .delete {
        width: 18.60px;
    }
    .exit {
        width: 42px;
    }
}

@media only screen and (max-width: 1920px) and (min-width:1441px) {
    .dropdown {
        width: 20.22px;
    }
    .delete {
        float: right;
        width: 24.60px;
    }
    .exit {
        width: 56px;
    }
}

@media only screen and (max-width: 2560px) and (min-width:1991px) {
    .dropdown {
        width: 27.22px;
    }
    .delete {
        width: 32.60px;
    }
    .exit {
        width: 75px;
    }
}