* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    outline: none;
}

.page {
    background-color: #FAFAFA;
}

.header {
    box-shadow: 0px 3px 6px #BCBCBC40;
    background-color: #FFFFFF;
    padding: 2% 3.4%;
    display: flex;
    align-items: center;
}

.leftFlex {
    width: 85%;
    float: left;
    display: flex;
}

.dashboardBox {
    width: 18%;
}

.lightText {
    font-family: 'Roboto';
    font-size: 1.36vw;
    letter-spacing: 0.7px;
    color: #909090;
}

.coursesBox {
    width: 16%;
}

.underline {
    padding-bottom: 6px;
    border-bottom: 4px solid #32BDD2;
}

.darkText {
    font-family: 'Roboto';
    font-size: 1.36vw;
    font-weight: 500;
    letter-spacing: 0.7px;
    color: #595959;
}

.reportsBox {
    width: 15%;
}

.systemsBox {
    width: 51%;
}

.clear {
    clear: both;
}

.rightFlex {
    width: 15%;
    float: right;
    display: flex;
    align-items: center;
    position: relative;
}

.imageBox {
    width: 30%;
}

.userImage {
    width: 3.125vw;
}

.nameBox {
    width: 63%;
}

.userName {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 1.17vw;
    letter-spacing: 0.9px;
    color: #5A5A5A;
}

.downBox {
    width: 7%;
}

.downImage {
    width: .97vw;
}

.popupcontainer {
    width: 21vw;
    background-color: #fff;
    box-shadow: 0px 0px 12px #60606029;
    border: 1px solid #F7F7F7;
    padding: 2% 0 2% 2%;
    position: absolute;
    top: 158%;
    right: -7%;
    z-index: 1;
}

.popuptext {
    font-family: 'Roboto';
    font-size: 1.36vw;
    color: #595959;
    letter-spacing: 1.4px;
    padding: 11% 0 11% 18%;
}

.course {
    text-align: left;
    font-family: 'Roboto';
    font-size: 1.75vw;
    letter-spacing: 0.9px;
    color: #000000;
    border-bottom: .2vw solid #32BDD2;
    padding-bottom: 1%;
    font-weight: 600;
}

.search {
    border: 0;
    width: 95%;
    padding: 1%;
    font: 400 1.17vw/14px 'Roboto';
    letter-spacing: 0.6px;
    color: #909090;
}

.icon {
    width: 1.7vw;
    vertical-align: middle;
}

.search_bar {
    width: 100%;
    padding: 4.5% 3%;
    border-bottom: .5vw solid #FAFAFA;
}

.colom_first {
    width: 15%;
    float: left;
    padding-top: .4%;
}

.colom_second {
    width: 65%;
    float: left;
    border: 1px solid #B5B5B5;
    border-radius: 6.86vw;
    margin: auto;
    padding: .5%;
}

.colom_third {
    width: 15%;
    float: right;
}

.clear {
    clear: both;
}

.new_btn {
    background-color: #32BDD2;
    border: 1px solid #32BDD2;
    border-radius: 35px;
    text-align: left;
    font-size: 1.17vw;
    font-family: 'Roboto';
    font-weight: bold;
    letter-spacing: 0.6px;
    color: #FFFFFF;
    padding: 06% 10%;
    float: right;
}

.parent {
    padding: 4.19% 2.44% 3.02% 2.44%;
}

.container {
    background-color: #FFFFFF;
    box-shadow: 0px 3px 6px #00000029;
}

.table {
    border-bottom: .4vw solid #FAFAFA;
    padding: 0% 3%;
}

.cities {
    width: 55%;
    float: left;
    padding: 2.77% 0;
}

.status {
    width: 15%;
    float: left;
    padding: 4.83% 0;
    text-align: left;
}

.date {
    width: 30%;
    float: left;
    padding: 3.80% 0;
}

.head {
    text-align: left;
    font-size: 1.35vw;
    font-family: 'Roboto';
    font-weight: bold;
    letter-spacing: 1.4px;
    color: #595959;
}

.description {
    width: 75%;
    text-align: left;
    font-size: 1.17vw;
    font-family: 'Roboto';
    letter-spacing: 0.6px;
    color: #747474;
    padding-top: 1.0%;
}

.dot {
    width: 1vw;
    height: 1vw;
}

.draft {
    font-size: 1.35vw;
    font-family: 'Roboto';
    letter-spacing: 1.4px;
    color: #5A5A5A;
    padding-left: 2%;
}

.created_on {
    text-align: right;
    font-size: 0.97vw;
    font-family: 'Roboto';
    letter-spacing: 0.75px;
    color: #747474;
}

.jul {
    text-align: right;
    font-size: 1.35vw;
    font-family: 'Roboto';
    letter-spacing: 0.7px;
    color: #595959;
    padding-top: 1.0%;
}

.footer {
    text-align: center;
    /* width: 12.63%; */
    margin: auto;
    padding: 2.90% 0;
}

.showmore {
    font-size: 1.36vw;
    font-family: 'Roboto';
    letter-spacing: 1.4px;
    color: #595959;
    border: ipx solid #00000029;
    font-weight: bold;
    padding-right: 1%;
}

.drop_down {
    width: 9.89px;
}


/* ========================================================================================================================================================= */

@media only screen and (max-width: 768px) {
    .dropdown {
        width: 7.2px;
    }
    .drop_down {
        width: 7.2px;
    }
    .profile_pic {
        width: 24.15px;
    }
}

@media only screen and (max-width: 1440px) and (min-width: 1025px) {
    .dropdown {
        width: 12.59px;
    }
    .drop_down {
        width: 12.59px;
    }
    .profile_pic {
        width: 45.15px;
    }
}

@media only screen and (max-width: 1920px) and (min-width:1441px) {
    .dropdown {
        width: 18.89px;
    }
    .drop_down {
        width: 18.89px;
    }
    .profile_pic {
        width: 60.15px;
    }
}

@media only screen and (max-width: 2560px) and (min-width:1991px) {
    .dropdown {
        width: 22.89px;
    }
    .drop_down {
        width: 22.89px;
    }
    .profile_pic {
        width: 80.15px;
    }
}