* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inboxContainer {
    padding: 4.6% 4.36% 4.6% 12.6%;
}

.inboxHeader {
    padding-bottom: 7.6%;
}

.inboxHeading {
    font-family: 'Lato';
    font-size: 1.36vw;
    font-weight: 700;
    letter-spacing: 1.4px;
    color: #505050;
    padding-bottom: 2.5%;
}

.inboxSubheading {
    font-family: 'Lato';
    font-size: 1.17vw;
    letter-spacing: 0.6px;
    color: #505050;
    width: 60%;
}

.inboxCard {
    background-color: #EEEEEE;
    padding: 2.7% 4.4% 3.2% 3.8%;
    margin-top: 2.2%;
}

.imageContainers {
    width: 15%;
    float: left;
}

.inboxImage {
    width: 35px;
    height: 35px;
}

.detailsContainers {
    width: 70%;
    float: left;
}

.notiContainer {
    width: 7%;
    float: left;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #FF0000;
    border-radius: 50%;
    display: inline-block;
}

.inboxName {
    font-family: 'Lato';
    font-size: 1.36vw;
    font-weight: 700;
    letter-spacing: 1.4px;
}

.inboxDesignation {
    font-family: 'Lato';
    font-size: 1.17vw;
    letter-spacing: 1.2px;
    color: #747474;
}

.inboxDetails {
    width: 93%;
    float: left;
}

.dropdownContainers {
    width: 15%;
    float: left;
}

.dropdown {
    width: 10px;
    height: 10px;
    float: right;
    vertical-align: middle;
}

.inboxLeftBox {
    width: 14%;
    float: left;
}

.inboxRightBox {
    width: 86%;
    float: right;
    padding: 13.8% 6.5% 0 0;
}

.inboxgreyCard {
    padding: 4.3%;
    background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
    border-radius: 6px;
    margin-bottom: 7.6%;
}

.inboxSubmitBtn {
    background-color: #32BDD2;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 1.36vw;
    padding: 7px 20px;
    font-family: 'Roboto';
    font-size: 1.17vw;
    font-weight: 700;
    letter-spacing: 1.2px;
    color: #FFFFFF;
    border: 0;
}

.inboxRowBlack {
    border-bottom: 0.5px solid #CCCCCC;
    padding-bottom: 6.3%;
    position: relative;
}

.inboxRow {
    border-bottom: 0.5px solid #CCCCCC;
    padding-top: 7.6%;
    padding-bottom: 6.3%;
}

.splInboxRow {
    padding-top: 7.6%;
}

.nameContent {
    font-family: 'Roboto';
    font-size: 1.17vw;
    font-weight: 700;
    letter-spacing: 0.6px;
    color: #747474;
}

.inboxTextBox {
    box-shadow: 0px 0px 0.97vw #00000029;
    width: 100%;
    border: 0;
    margin: 2.1% 0;
}

.contentDateTime {
    font-family: 'Roboto';
    font-size: 1.17vw;
    letter-spacing: 0.6px;
    color: #747474;
    padding-bottom: 2.5%;
}

.inboxContent {
    font-family: 'Roboto';
    font-size: 1.36vw;
    letter-spacing: 0.7px;
    color: #747474;
}

.blackBox {
    padding: 7.3% 0 0 5.8%;
    background-color: #000000;
    border-radius: 7px;
    opacity: 0.75;
    letter-spacing: 1.4px;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-size: 1.36vw;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.redBar {
    border-top: 3px solid #FF0000;
    padding-top: 3px;
}

.whiteUL {
    border-bottom: 1px solid #FFFFFF;
}

.clear {
    clear: both;
}

.none {
    display: none;
}

@media screen and (max-device-width: 768px) {
    .inboxImage {
        width: 26.2px;
        height: 26.2px;
    }
    .dot {
        height: 7.4px;
        width: 7.4px;
    }
    .dropdown {
        width: 7.4px;
        height: 7.4px;
    }
}

@media screen and (min-device-width: 1025px) and (max-device-width: 1440px) {
    .inboxImage {
        width: 49px;
        height: 49px;
    }
    .dot {
        height: 14px;
        width: 14px;
    }
    .dropdown {
        width: 14px;
        height: 14px;
    }
}

@media screen and (min-device-width: 1441px) and (max-device-width: 1920px) {
    .inboxImage {
        width: 65.4px;
        height: 65.4px;
    }
    .dot {
        height: 18.6px;
        width: 18.6px;
    }
    .dropdown {
        width: 18.6px;
        height: 18.6px;
    }
}

@media screen and (min-device-width: 1921px) and (max-device-width: 2560px) {
    .inboxImage {
        width: 87.3px;
        height: 87.3px;
    }
    .dot {
        height: 25px;
        width: 25px;
    }
    .dropdown {
        width: 25px;
        height: 25px;
    }
}