* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

.parent {
    background-color: #F6F8F9;
    position: relative;
}

.listHeader {
    padding: 1.3%;
    background-color: #FFFFFF;
    box-shadow: 0 0 0.39vw #00000029;
}

.headerLeftPart {
    width: 75%;
    float: left;
}

.posh {
    font-family: 'Anton';
    font-size: 2.34vw;
    letter-spacing: 1.1px;
    color: #000000;
}

.headerRightPart {
    width: 25%;
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.notiIcon {
    width: 3.125vw;
    margin-right: 2.63vw;
}

.userImage {
    width: 3.125vw;
    margin-right: 0.88vw;
}

.userName {
    font-family: 'Roboto';
    font-size: 1.17vw;
    letter-spacing: 0.0.88vw;
    color: #595959;
    margin-right: 0.97vw;
}

.dropIcon {
    width: 0.88vw;
}

.clear {
    clear: both;
}

.listContainer {
    width: 95%;
    margin: 2.5%;
    box-shadow: 0 0 0.39vw #00000029;
    background-color: #FFFFFF;
    display: flex;
}

.leftContainer {
    background-color: #fff;
    width: 5%;
    float: left;
    padding-top: 4%;
}

.headingContainer {
    text-align: center;
    padding-bottom: 50%;
}

.complaintHeading {
    text-align: left;
    font-size: 1.36vw;
    font-family: 'Anton';
    letter-spacing: 2.8px;
    color: #000000;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
}

.svgContainer {
    width: 45%;
    margin: auto;
}

.circle_color {
    font-size: 1.17vw;
    font-family: 'Roboto';
    letter-spacing: 0;
    fill: #fff;
}

.circle_without_color {
    font-size: 1.17vw;
    font-family: 'Roboto';
    letter-spacing: 0;
    fill: #d3d3d3;
}

.rightContainer {
    width: 95%;
    float: right;
    background-color: #FCFCFC;
}

.content {
    padding: 6% 11% 6% 6%;
}

.chargesHeading {
    font-family: 'Lato';
    font-size: 1.36vw;
    font-weight: 900;
    letter-spacing: 1.0.39vw;
    color: #000000;
}

.chargesDescription {
    font-family: 'Lato';
    font-size: 1.17vw;
    letter-spacing: 0.0.58vw;
    color: #747474;
    padding-bottom: 4.7%;
}

.addChargeBox {
    border: 0.39vw dashed #B5B5B5;
    padding: 2.7% 0;
    margin-bottom: 2.4%;
}

.contentBox {
    width: fit-content;
    margin: auto;
}

.addChargeIcon {
    width: 3.8vw;
    margin-right: 1.17vw;
    vertical-align: middle;
}

.addCharge {
    font-family: 'Lato';
    font-size: 1.36vw;
    font-weight: 900;
    letter-spacing: 1.0.39vw;
    color: #595959;
}

.aligner {
    text-align: center;
    margin-bottom: 6.2%;
    position: relative;
}

.whatText {
    font-family: 'Lato';
    font-size: 1.17vw;
    letter-spacing: 0;
    color: #747474;
    border-bottom: 1px solid #595959;
}

.greyContainer {
    border: 1px solid #F0F0F0;
    margin-bottom: 5.4%;
}

.greyHeader {
    padding: 2.4%;
    background-color: #F0F0F0;
}

.upIcon {
    width: 1.27vw;
    margin-right: 1.36vw;
    vertical-align: middle;
}

.darkerText {
    font-family: 'Lato';
    font-size: 1.36vw;
    font-weight: 900;
    letter-spacing: 1.0.39vw;
    color: #595959;
}

.deleteIcon {
    width: 2.53vw;
    float: right;
}

.greyBody {
    padding: 6% 4.3%;
}

.whiteBG {
    background-color: #FFFFFF;
    border-radius: 1.46vw;
    padding: 0.58vw 1.27vw 0.68vw;
    margin-right: 1.17vw;
    float: right;
}

.errorIcon {
    margin-right: 1.17vw;
    width: 1.36vw;
    vertical-align: middle;
}

.errorText {
    font-family: 'Lato';
    font-size: 1.17vw;
    letter-spacing: 0.0.58vw;
    font-weight: 600;
    color: #CB1720;
}

.saveContainer {
    padding-top: 3%;
}

.saveDraft {
    font-family: 'Lato';
    font-size: 1.17vw;
    font-weight: 900;
    letter-spacing: 1.2px;
    color: #595959;
    border-bottom: 1px solid #595959;
}

.nextButton {
    padding: 0.78vw 1.85vw;
    border-radius: 2.83vw;
    background-color: #32BDD2;
    color: #FFFFFF;
    letter-spacing: 1.1px;
    font-weight: 600;
    font-size: 1.17vw;
    font-family: 'Lato';
    border: 0;
    float: right;
}

.nextIcon {
    width: 0.97vw;
    vertical-align: middle;
    margin-left: 1.07vw;
}

.back {
    margin-right: 3.9vw;
    letter-spacing: 1.2px;
    color: #32BDD2;
    font-weight: 600;
    font-size: 1.17vw;
    font-family: 'Lato';
    border-bottom: 2px solid #32BDD2;
    float: right;
}

.valign {
    vertical-align: middle;
}


/* ---------------------edit description------------------------- */

.desContainer {
    background-color: #FAFCFD;
    border: 1px solid #D5E2E8;
    position: relative;
    padding: 2.3% 3.3% 1.5%;
    margin-bottom: 5.4%;
}

.desLorem {
    font-family: 'Lato';
    font-size: 1.17vw;
    letter-spacing: 1.0.39vw;
    color: #4C5264;
}

.editIcon {
    width: 2.53vw;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
}


/* ----------------------witness section------------------------- */

.witnessTag {
    background-color: #F3F5B3;
    font-family: 'Lato';
    font-size: 1.17vw;
    letter-spacing: 1.2px;
    color: #505050;
    padding: 1.2% 2.7%;
    border-top-left-radius: 1.17vw;
    display: inline-block;
}

.borderContainer {
    border: 1px solid #F3F5B3;
}

.yellowCard {
    background-color: #fbfce7;
    padding: 4% 2.7%;
}

.witDescription {
    font-family: 'Lato';
    font-size: 1.17vw;
    letter-spacing: 0.0.58vw;
    color: #505050;
    padding-bottom: 1%;
}

.addIcons {
    width: 2.93vw;
    vertical-align: middle;
}

.addLabel {
    font-family: 'Lato';
    font-size: 1.36vw;
    font-weight: 700;
    letter-spacing: 1.0.39vw;
    color: #000000;
    padding-left: 1.2%;
}

.row {
    padding: 4.6% 2.7%;
}

.bodBot {
    border-bottom: 1px solid #F3F5B3;
}

.editIcons {
    width: 3.32vw;
    vertical-align: middle;
}

.deleteIcons {
    width: 3.32vw;
    margin-left: 2%;
    vertical-align: middle;
}

.leftColumn {
    float: left;
    width: 50%;
}

.rightColumn {
    float: right;
    width: 50%;
    text-align: right;
}

.witName {
    font-family: 'Lato';
    font-size: 1.36vw;
    font-weight: 900;
    letter-spacing: 1.2px;
    color: #747474;
}

.witDetails {
    font-family: 'Lato';
    font-size: 1.17vw;
    letter-spacing: 1.2px;
    color: #747474;
}


/* --------------------evidence section------------------- */

.eviContainer {
    margin-bottom: 5.4%;
}

.evidence_tag {
    text-align: center;
    font-family: 'Lato';
    font-size: 1.17vw;
    letter-spacing: 1.2px;
    color: #505050;
    background-color: #F3F5B3;
    border-top-left-radius: 1.46vw;
    padding: 01%;
    width: 13.57%;
}

.file_resourse {
    background-color: #fbfce7;
    border: 1px solid #F3F5B3;
}

.desc {
    width: 85%;
    padding: 3.42% 0 4.37% 2.79%;
}

.description {
    text-align: left;
    font-family: 'Lato';
    font-size: 1.17vw;
    letter-spacing: 0.0.58vw;
    color: #505050;
    opacity: 1;
}

.file {
    width: 100%;
    padding: 0 1.99% 3.36% 1.99%;
}

.selectContainer {
    background-color: white;
    border: 1px solid #DFEBEF;
    /* padding: 3.17% 4.0% 4.34% 5.99%; */
    padding: 2%;
    width: 50%;
}

.select {
    font-size: 0.97vw;
    color: #595959;
    font-family: 'Lato';
    font-weight: 600;
    letter-spacing: 1px;
}

.maximum {
    padding-bottom: 5.5%;
    font-size: 0.97vw;
    color: #707070;
    font-family: 'Lato';
    font-weight: 400;
    letter-spacing: 1px;
    width: 90%;
}

.browse {
    font-family: 'Lato';
    font-size: 1.17vw;
    background-color: #32BDD2;
    font-weight: 500;
    border-radius: 5%;
    padding: 1.5% 4%;
    color: #FFFFFF;
    border: 0;
    letter-spacing: 1px;
    font-weight: 600;
}

.drop {
    color: #fff;
    text-align: center;
    font-size: 1.17vw;
    font-family: 'Lato';
}

.uploadContainer {
    background-color: #32BDD2;
    border: 1px solid #32BDD2;
    /* padding: 4.20% 6.10%; */
    padding: 2%;
    width: 50%;
}

.uploadBackground {
    border: 1px dashed white;
    padding: 6.3%;
}

.file {
    display: flex;
    width: 100%;
}

.upload {
    display: block;
    margin: auto;
    width: 2.53vw;
}

.clear {
    clear: both;
}

.uploaded_files_container {
    border-left: 1px solid #F3F5B3;
    border-right: 1px solid #F3F5B3;
}

.uploade_files {
    border-bottom: 1px solid #F3F5B3;
    padding: 3.89% 3.14%;
}

.colom_one {
    width: 34%;
    float: left;
    padding-top: 1%;
}

.img {
    text-align: left;
    font-family: 'Lato';
    font-size: 1.17vw;
    letter-spacing: 0.0.58vw;
    color: #595959;
}

.colom_two {
    width: 33%;
    float: left;
    padding-top: 1%;
}

.kb {
    text-align: center;
    font-family: 'Lato';
    font-size: 1.17vw;
    letter-spacing: 0;
    color: #595959;
    padding-top: 2%;
}

.colom_three {
    width: 33%;
    float: left;
}

.delete_img {
    width: 3.40vw;
    display: block;
    margin-left: auto;
}

.text {
    font-family: 'Lato';
    font-size: 1.17vw;
    color: #595959;
}