* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pageParent {
    background-color: #F6F8F9;
}

.listHeader {
    padding: 1.3%;
    background-color: #FFFFFF;
    box-shadow: 0 0 0.38vw #00000029;
}

.headerLeftPart {
    width: 75%;
    float: left;
}

.posh {
    font-family: 'Anton';
    font-size: 2.34vw;
    letter-spacing: 1.1px;
    color: #000000;
}

.headerRightPart {
    width: 25%;
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.notiIcon {
    width: 3.125vw;
    margin-right: 2.63vw;
}

.userImage {
    width: 3.125vw;
    margin-right: 0.88vw;
}

.userName {
    font-family: 'Roboto';
    font-size: 1.17vw;
    letter-spacing: 0.9px;
    color: #595959;
    margin-right: 0.97vw;
}

.dropIcon {
    width: 0.88vw;
}

.clear {
    clear: both;
}

.paddedContainer {
    padding: 0 13.6% 5.5%;
    position: relative;
}


/* ----------------------Top Caraousel--------------------------- */

.topCarousel {
    position: relative;
    height: 38vw;
    width: 100%;
}

.carouselImage {
    position: absolute;
    left: 50%;
    width: 100%;
    transform: translate(-50%);
}

.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.4%;
    position: absolute;
    top: 80%;
    right: 4%;
    z-index: 1;
}

.prevSign {
    width: 1.17vw;
    cursor: pointer;
}

.counterText {
    font: 700 1.17vw/1.36vw 'Roboto';
    letter-spacing: 1.2px;
    color: #DBC5C5;
    margin: 0 0.39vw;
}

.nextSign {
    width: 1.17vw;
    cursor: pointer;
}


/* ----------------------COO Card-------------------------------- */

.cooContainer {
    background-color: #FFFFFF;
    padding: 3% 6%;
    box-shadow: 0 2px 0.58vw #00000029;
    border-radius: 1.95vw;
    position: absolute;
    top: -10%;
    width: 72.7%;
}

.cooLeft {
    width: 16%;
    float: left;
}

.cooImageContainer {
    width: 50%;
    margin-top: 25%;
}

.cooImage {
    width: 5.95vw;
}

.cooRight {
    width: 84%;
    float: right;
}

.cooHeading {
    font-family: 'Anton';
    font-size: 1.36vw;
    letter-spacing: 1px;
    color: #000000;
    padding-bottom: 2%;
}

.cooText {
    font-family: 'Lato';
    font-size: 1.36vw;
    letter-spacing: 0;
    color: #505050;
    padding-bottom: 4%;
    text-align: justify;
}

.readMoreCoo {
    font: 900 1.07vw/0.97vw Lato;
    letter-spacing: 0.55px;
    color: #32BDD2;
    padding: 2.5% 0 3% 0;
    cursor: pointer;
}

.cooName {
    font-family: 'Lato';
    font-size: 1.36vw;
    letter-spacing: 0.7px;
    font-weight: 900;
    padding-bottom: 0.68vw;
    color: #505050;
}

.cooDesignation {
    font-family: 'Lato';
    font-size: 1.36vw;
    font-weight: 900;
    letter-spacing: 0.7px;
    color: #505050;
}


/* -----------------------Training------------------------------- */

.trainContainer {
    background-color: #FFFFFF;
    border-bottom-left-radius: 3.5vw;
    border-bottom-right-radius: 3.5vw;
    box-shadow: 0 0 0.58vw #00000029;
    margin-top: 40%;
}

.trainingContainer {
    padding: 3% 5% 4% 5%;
    border-bottom: 1px solid #CCCCCC;
}

.training {
    font-size: 1.36vw;
    font-family: 'Anton';
    letter-spacing: 1.4px;
    color: #000000;
}

.trainingSubtext {
    font-size: 1.17vw;
    font-family: 'Lato';
    letter-spacing: 0.6px;
    color: #747474;
}

.listContainer {
    padding: 4% 6.7% 7% 6.7%;
    border-bottom-left-radius: 3.5vw;
    border-bottom-right-radius: 3.5vw;
}

.greenCard {
    padding: 2%;
    background-color: #EFFAF6;
    border: 0.5px solid #B6D1C8;
    display: none;
}

#cert {
    cursor: pointer;
}

.statusMessage {
    font-family: 'Lato';
    font-size: 1.17vw;
    letter-spacing: 1.2px;
    color: #000000;
    padding-bottom: 2%;
}

.subMessage {
    font-family: 'Lato';
    font-size: 1.17vw;
    letter-spacing: 0.6px;
    color: #505050;
}

.redCard {
    padding: 2%;
    background-color: #FFE8E8;
    border: 0.5px solid #BA8C8C;
}

.row {
    padding: 2%;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}

.darkText {
    font-family: 'Lato';
    font-size: 1.17vw;
    letter-spacing: 0.6px;
    color: #505050;
    font-weight: 900;
}

.lightText {
    font-family: 'Lato';
    font-size: 1.17vw;
    letter-spacing: 0.6px;
    color: #909090;
}

.greyText {
    font-family: 'Lato';
    font-size: 1.17vw;
    letter-spacing: 0.6px;
    color: #505050;
}

.Image {
    width: 2.14vw;
    vertical-align: middle;
    margin-right: 1.56vw;
}

.underline {
    border-bottom: 1px solid #505050;
}

.space {
    padding-bottom: 1.07vw;
}

.columnOne {
    width: 34%;
    float: left;
    text-align: left;
    clear: left;
}

.columnTwo {
    width: 33%;
    float: left;
    text-align: center;
}

.columnThree {
    width: 33%;
    float: right;
    text-align: right;
}


/* ------------------------Carousel------------------------------ */

.slideshow-container {
    background-color: #FFFFFF;
    box-shadow: 0 2px 0.58vw #00000029;
    border-radius: 1.95vw;
    margin-top: 6.5%;
    display: flex;
    justify-content: center;
}

.left {
    padding-top: 28%;
    padding-left: 4%;
    width: 17%;
    position: relative;
}

.prev {
    width: 3.4vw;
    cursor: pointer;
    transition: 0.6s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0 0 0.78vw #32BDD2;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.slideshow-inner {
    width: 66%;
}

.loremCard {
    margin: 24.5% 0 21% 0;
    padding: 10.4% 10.6% 9.2% 10.6%;
    background-color: #F7F6EF;
}

.caraouselHeading {
    font-family: 'Merriweather';
    font-size: 2.14vw;
    letter-spacing: 3.2px;
    font-weight: 900;
    color: #521A1A;
    text-align: center;
}

.caraouselText {
    font-family: 'Lato';
    font-size: 1.36vw;
    font-weight: 300;
    letter-spacing: 0;
    color: #521A1A;
    text-align: center;
    padding-top: 4.5%;
}

.carouselVideo {
    width: 86%;
    display: block;
    margin: auto;
    padding: 14.2% 0 4.6% 0;
}

.videoDescription {
    font-family: 'Lato';
    font-size: 1.36vw;
    color: #505050;
    letter-spacing: 0;
    line-height: 2.14vw;
    width: 86%;
    margin: auto;
    padding-bottom: 11.3%;
}

.svgImage {
    width: 100%;
    margin: 25.5% 0 16% 0;
    box-shadow: 0 0 0.97vw #00000029;
}

.stop {
    padding: 11.5% 0 3.8% 0;
    width: 95%;
    display: block;
    margin: auto;
}

.caraouselDesc {
    font-family: 'Lato';
    font-size: 1.35vw;
    letter-spacing: 0;
    color: #505050;
    text-align: left;
    width: 95%;
    margin: auto;
    padding-bottom: 7.8%;
}

.infotext {
    padding: 12.1% 0 8.2% 0;
}

.caraouselpara {
    font-family: 'Lato';
    font-size: 1.35vw;
    letter-spacing: 0;
    color: #505050;
    text-align: left;
    line-height: 1.8vw;
}

.spacer {
    padding-top: 4.2%;
}

.right {
    padding-top: 28%;
    padding-right: 4%;
    width: 17%;
    position: relative;
}

.next {
    margin-left: 4%;
    width: 3.4vw;
    cursor: pointer;
    transition: 0.6s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 0.78vw #32BDD2;
    border-radius: 50%;
}

.navBar {
    text-align: center;
    margin-bottom: 7.5%;
}

.dot {
    cursor: pointer;
    width: 0.97vw;
    height: 0.97vw;
    margin: 0 0.68vw;
    border: 1px solid #32BDD2;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #32BDD2;
}


/* ------------------------FAQ--------------------------- */

.main_container {
    background-color: #FFFFFF;
    box-shadow: 0 0 0.58vw #00000029;
    width: 47%;
    float: left;
}

.faqheader {
    border-bottom: 1px solid #CCCCCC;
}

.faq_top {
    padding: 6.81% 0 6.44% 4.81%;
}

.faq {
    text-align: left;
    font-family: "Anton";
    font-size: 1.36vw;
    letter-spacing: 1.4px;
    color: #000000;
}

.explore_top {
    padding: 0 5.56% 5.125% 0;
    cursor: pointer;
}

.explore {
    float: right;
    text-align: left;
    font: 900 1.17vw/0.97vw "Lato";
    letter-spacing: 0.6px;
    color: #32BDD2;
    padding-right: 1%;
    vertical-align: middle;
}

.icon_image {
    padding-top: 0.3%;
    vertical-align: middle;
    width: 0.78vw;
    float: right;
}

.message {
    margin: 8.56% 5.56% 8.61% 5.56%;
}

.quesition {
    background-color: #EEEEEE;
    border-radius: 1.46vw;
    padding: 4.80% 5.16% 5.5%;
    margin-bottom: 3.81%;
}

.meant {
    text-align: left;
    font-family: "Lato";
    font-size: 1.36vw;
    letter-spacing: 0;
    color: #505050;
}

.lorem {
    width: 88%;
    padding: 3.95% 0 3.84% 0;
    text-align: left;
    font-family: "Lato";
    font-size: 1.17vw;
    letter-spacing: 0.6px;
    color: #909090;
}

.read {
    cursor: pointer;
    text-align: right;
    font-family: "Lato";
    font-size: 0.68vw;
    letter-spacing: 0.35px;
    color: #505050;
    font-weight: bold;
}

.footer {
    display: flex;
    align-items: center;
    align-content: center;
    padding: 0 0 6.16% 5.96%;
}

.left_icon {
    width: 1%;
}

.right_icon {
    width: 88%;
}

.number {
    width: 12%;
    text-align: center;
}

.left_icon img {
    width: 0.78vw;
    vertical-align: middle;
}

.right_icon img {
    width: 0.78vw;
    vertical-align: middle;
}

.number {
    font-size: 0.78vw;
    font-family: 'Lato';
    letter-spacing: 0.6px;
    color: #B5B5B5;
}


/* ---------------------CONTACTS--------------------------- */

.faqContactContainer {
    margin-top: 6.5%;
}

.contactContainer {
    background-color: #FFFFFF;
    width: 47%;
    float: right;
    box-shadow: 0 0 0.58vw #00000029;
}

.firstRow {
    padding: 7% 8%;
    border-bottom: 1px solid #D3D3D3;
}

.contacts {
    font-family: 'Anton';
    font-size: 1.36vw;
    color: #000000;
    letter-spacing: 1.4px;
}

.contactsSubtext {
    padding-top: 4.5%;
    font-family: 'Lato';
    font-size: 1.17vw;
    color: #909090;
}

.listsContainer {
    padding: 6%;
}

.card {
    background-color: #EEEEEE;
    padding: 6% 0;
}

.spaces {
    margin-bottom: 6%;
}

.imageContainer {
    width: 35%;
    float: left;
    padding: 0 7% 0 8%;
}

.profilePicContainer {
    border-radius: 15%;
}

.profilePic {
    width: 5.37vw;
    height: 5.37vw;
}

.textContainer {
    width: 65%;
    float: right;
}

.name {
    font-family: 'Lato';
    font-weight: 700;
    font-size: 1.07vw;
    color: #4D4F5C;
    padding-bottom: 2%;
}

.designation {
    font-family: 'Lato';
    font-size: 0.97vw;
    color: #747474;
    padding-bottom: 4%;
}

.email {
    font-family: 'Lato';
    font-size: 0.97vw;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: #747474;
    padding-bottom: 2%;
}

.mobileNumber {
    font-family: 'Lato';
    font-size: 0.97vw;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: #747474;
}

.lastRow {
    padding: 0% 6% 6% 6%;
}

.navImage {
    width: 0.97vw;
    vertical-align: middle;
}

.indexText {
    font-family: 'Lato';
    font-size: 0.8vw;
    letter-spacing: 0.6px;
    color: #B5B5B5;
    padding: 2% 1%;
    transform: translateY(-50%);
}


/* ----------------------Submit Complaint------------------------ */

.subComplaintContainer {
    box-shadow: 0 0 0.58vw #00000029;
    margin-top: 6.5%;
    background-color: #FFFFFF;
}

.headingHolder {
    padding: 5% 4%;
    border-bottom: 1px solid #D3D3D3;
}

.submitHeading {
    font-family: 'Anton';
    font-size: 1.36vw;
    letter-spacing: 1.4px;
    color: #000000;
}

.buttonHolder {
    padding: 4%;
    border-bottom: 1px solid #D3D3D3;
}

.submitText {
    font-family: 'Lato';
    font-size: 1.36vw;
    letter-spacing: 0;
    color: #505050;
    padding-bottom: 2%;
}

.complaintButton {
    background-color: #FF0000;
    box-shadow: 2px 2px 3px #FF000043;
    border-radius: 2.63vw;
    color: #FFFFFF;
    padding: 0.97vw 0.93vw;
    font-weight: 600;
    letter-spacing: 1.2px;
    font-family: 'Lato';
    font-size: 1.17vw;
    border: 0;
    box-shadow: 0px 0px 8px #FF0000BE;
    text-align: center;
    cursor: pointer;
}

.trackHolder {
    padding: 4%;
}

.registeredText {
    font-family: 'Lato';
    font-size: 1.17vw;
    letter-spacing: 0.6px;
    color: #505050;
    padding-bottom: 1%;
}

.trackText {
    font-size: 1.17vw;
    letter-spacing: 1.2px;
    color: #505050;
    font-weight: 600;
    font-family: 'Lato';
    border-bottom: 1px solid #505050;
    padding-bottom: 0.48vw;
    cursor: pointer;
}


/* -----------------------policy--------------------------------- */

.policyContainer {
    background-color: #FFFFFF;
    margin-top: 6.5%;
    box-shadow: 0 0 6px #00000029;
    overflow: hidden;
}

.policy_header {
    border-bottom: 1px solid #505050;
    padding: 2.95% 3.0% 2.82% 3.49%;
}

.download {
    width: 12%;
    float: right;
}

.policy {
    font-family: 'Anton';
    font-size: 1.36vw;
    text-align: left;
    letter-spacing: 1.4px;
    color: #000000;
}

.left_container {
    width: 88%;
    float: left;
}

.clear {
    clear: both;
}

.last {
    text-align: left;
    font-family: 'Lato';
    font-size: 1.17vw;
    letter-spacing: 0;
    color: #747474;
}

.kb {
    padding-right: 01%;
    text-align: right;
    font-family: 'Lato';
    font-size: 1.17vw;
    letter-spacing: 0.3px;
    color: #747474;
}

.kb_1 {
    font-weight: 600;
}

.pdf {
    width: 75%;
    float: left;
    padding-right: 5%;
}

.image {
    width: 25%;
    float: right;
}

.image img {
    width: 3.32vw;
    box-shadow: 0px 0px 8px #32BDD2;
    border-radius: 50%;
    vertical-align: middle;
}

.policies {
    padding: 3.62% 3.0% 4.4% 3.44%;
}

.paragraph {
    text-align: left;
    font-family: 'Lato';
    font-size: 1.36vw;
    color: #505050;
    padding-top: 1%;
}

.comment_bar {
    display: flex;
    border: 0.35px solid #B5B5B5;
    border-top-left-radius: 4.88vw;
    border-bottom-left-radius: 4.88vw;
    border-top-right-radius: 4.88vw;
    border-bottom-right-radius: 4.88vw;
}

.bar {
    background-color: #EAF2F4;
    padding: 3.2% 5.3%;
    margin-bottom: 8.18%;
}

.profile img {
    width: 4.4vw;
    vertical-align: middle;
}

.profile {
    width: fit-content;
    padding-top: .2%;
    background-color: #fff;
    border-top-left-radius: 4.88vw;
    border-bottom-left-radius: 4.88vw;
}

.drop_comment {
    width: 80%;
}

.btn {
    width: 13%;
}

.submit {
    background-color: #32BDD2;
    color: #fff;
    font-size: 1.17vw;
    font-family: "Lato";
    font-weight: 900;
    border: 0;
    height: 100%;
    width: 100%;
    border-top-right-radius: 3.8vw;
    border-bottom-right-radius: 3.8vw;
    cursor: pointer;
    text-align: center;
}

.comment_section {
    width: 100%;
}

.right_containt {
    width: 60.48%;
    padding-left: 3.41%;
    padding-bottom: 8.18%;
}

.left_part {
    width: 10%;
    float: left;
    padding-left: 2.82%;
}

.left_part img {
    width: 5.66vw;
    width: 5.66vw;
}

.thumb {
    padding-top: 3.36%;
}

.thumb img {
    width: 1.46vw;
    height: 1.46vw;
    cursor: pointer;
}

.right_part {
    width: 90%;
    float: right;
}

.name {
    text-align: left;
    font-size: 1.36vw;
    font-family: 'Lato';
    letter-spacing: 0;
    color: #505050;
    padding: .5%;
}

.date {
    text-align: left;
    font-size: 1.17vw;
    font-family: 'Lato';
    letter-spacing: 0.6px;
    color: #909090;
    padding: .3%;
}

.text {
    text-align: left;
    font-size: 1.07vw;
    font-family: 'Lato';
    letter-spacing: 1.1px;
    color: #747474;
    padding-top: 1.61%;
}

.likes {
    text-align: left;
    font-size: .97vw;
    font-family: 'Lato';
    letter-spacing: 0.5px;
    color: #909090;
    padding: .5%;
    padding-right: 2%;
}

.show_more {
    background-color: #EEEEEE;
    margin: 0% 2.82% 4.97% 2.82%;
    cursor: pointer;
}

.center {
    width: 14.83%;
    margin: auto;
    padding: 2.82% 0%;
}

.show {
    text-align: left;
    font-size: 1.17vw;
    font-family: 'Lato';
    letter-spacing: 0.6px;
    color: #505050;
    font-weight: bold;
}

.down img {
    width: 0.97vw;
    vertical-align: middle;
}

.down {
    padding-left: 1%;
}

.review {
    text-align: left;
    font: 400 1.17vw/1.75vw 'Lato';
    letter-spacing: 0.6px;
    color: #909090;
    padding-left: 2%;
    width: 100%;
    height: 100%;
    border: 0;
}


/* -----------------------carousel ---------------------- */

.stop {
    font-family: 'Roboto';
    font-size: 8.59vw;
    fill: #FFFFFF;
    font-weight: bold;
}

.harassment {
    font-family: 'Roboto';
    font-size: 3.02vw;
    fill: #FFFFFF;
    border: 1px solid #FFFFFF;
}

.Unwelcome {
    font-family: 'Roboto';
    font-size: 1.56vw;
    letter-spacing: 0.4px;
    fill: #FFFFFF;
}

.icon {
    font-family: 'Roboto';
    font-size: 1.17vw;
    fill: #fff;
    font-weight: 700;
}


/* -----------------------Certificate----------------------------- */

.certContainer {
    background-color: #00000067;
    height: 100vh;
}


/* =============================================screen 35===================================================== */

.ceoBox {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    top: 0;
}

.ceo_parent {
    height: 100vh;
    background-color: #000000B2;
    position: relative;
}

.ceoContainer {
    width: 77.7%;
    background-color: #FFFFFF;
    padding: 2% 2% 5.2% 7.6%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 0.58vw #00000029;
    border-radius: 1.95vw;
}

.cancelIcon {
    box-shadow: 0 0 0.97vw #00000029;
    border: 0.5px solid #EFEFEF;
    float: right;
    width: 3.7vw;
    border-radius: 50%;
}

.ceoLeft {
    width: 14.5%;
    float: left;
}

.ceoImageContainer {
    width: 62.6%;
    margin-top: 36.7%;
}

.ceoImage {
    width: 5.9vw;
}

.ceoRight {
    width: 85.5%;
    float: right;
    padding-right: 7%;
}

.ceoHeading {
    font-family: 'Anton';
    font-size: 1.36vw;
    letter-spacing: 1px;
    color: #000000;
    padding-bottom: 2%;
}

.ceoText {
    font-family: 'Lato';
    font-size: 1.36vw;
    letter-spacing: 0;
    color: #505050;
    padding-bottom: 2%;
}

.ceoName {
    padding-top: 2%;
    font-family: 'Lato';
    font-size: 1.36vw;
    letter-spacing: 0.7px;
    font-weight: 900;
    padding-bottom: 0.68vw;
    color: #505050;
}

.ceoDesignation {
    font-family: 'Lato';
    font-size: 1.36vw;
    font-weight: 900;
    letter-spacing: 0.7px;
    color: #505050;
}

.clear {
    clear: both;
}


/* ============================================= certificate ============================================== */

.cert_parent {
    background-color: #000000B2;
    display: none;
    position: fixed;
    height: 100vh;
    top: 0;
}

.certcontainer {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.containt {
    width: 74%;
    background-color: #E9F0F1;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.logo_part {
    padding: 9.94% 0 11.25% 0;
}

.left_part_cert {
    width: 30%;
    float: left;
}

.right_part_cert {
    width: 70%;
    float: right;
}

.clear {
    clear: both;
}

.logo {
    display: block;
    margin-left: auto;
    width: 6.78vw;
}

.title {
    padding: 1% 0 0 2%;
}

.cirtificate {
    text-align: left;
    font-family: 'Roboto';
    font-size: 2.44vw;
    letter-spacing: 2.5px;
    color: #505050;
}

.attendance {
    padding-top: 1%;
    text-align: left;
    font-family: 'Roboto';
    font-size: 1.36vw;
    letter-spacing: 0.7px;
    color: #505050;
}

.naming_senction {
    width: 30%;
    float: left;
    margin-right: auto;
}

.participation {
    width: 70%;
    float: right;
    padding-left: 6%;
}

.left_senction {
    text-align: right;
}

.venue {
    font-size: 1.56vw;
    font-family: 'Roboto';
    letter-spacing: 0.8px;
    color: #747474;
    padding: 0 5.2% 0;
}

.certname {
    font-size: 1.56vw;
    font-family: 'Roboto';
    letter-spacing: 0.8px;
    color: #747474;
    padding-bottom: 10.10%;
}

.person {
    font-size: 1.56vw;
    font-family: 'Roboto';
    letter-spacing: 0.8px;
    color: #505050;
    font-weight: 500;
    padding-bottom: 5.10%;
}

.dr {
    padding-top: 4%;
    font-size: 1.56vw;
    font-family: 'Roboto';
    letter-spacing: 0.8px;
    color: #505050;
    font-weight: 500;
}

.second_row {
    padding-bottom: 8.37%;
}


/* ===============================================loading screen===================================================== */

.loadingParent {
    height: 100vh;
    width: 100vw;
    display: none;
    background-color: #000000B2;
    position: fixed;
    top: 0;
    z-index: 1;
}

.loadingScreen {
    height: 100vh;
    position: relative;
}

.loadingImage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10.83vw;
}


/* ======================================submit faq fail========================================================= */

.msgparent {
    background-color: #000000B2;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    display: none;
}

.popupContainer {
    background-color: #FFFFFF;
    box-shadow: 0 0 3.4vw #00000029;
    border-radius: 1.95vw;
    width: 55.6%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.topRow {
    padding: 4%;
}

.cancelImage {
    width: 3.7vw;
    float: right;
    border: 0;
    border-radius: 50%;
    box-shadow: 0 0 0.78vw #00000029;
}

.textRow {
    padding: 0 6.5%;
    font-family: 'Lato';
}

.failMessage {
    font-size: 1.56vw;
    font-weight: 700;
    letter-spacing: 1.6px;
    color: #E65959;
    padding-bottom: 5%;
}

.successMessage {
    font-size: 1.56vw;
    font-weight: 700;
    letter-spacing: 1.6px;
    color: #32BDD2;
    padding-bottom: 5%;
}

.messageText {
    font-size: 1.36vw;
    letter-spacing: 0.7px;
    color: #5A5A5A;
}

.buttonRow {
    padding: 7.6% 0;
    text-align: center;
}

.doneButtonFail {
    background-color: #E65959;
    color: #FFFFFF;
    border: 0;
    box-shadow: 0 0.29vw 0.58vw #00000029;
    border-radius: 3px;
    letter-spacing: 1.5px;
    font-family: 'Roboto';
    font-size: 1.46vw;
    padding: 0.97vw 2.93vw;
}

.doneButtonSuccess {
    background-color: #32BDD2;
    color: #FFFFFF;
    border: 0;
    box-shadow: 0 0.29vw 0.58vw #00000029;
    border-radius: 3px;
    letter-spacing: 1.5px;
    font-family: 'Roboto';
    font-size: 1.46vw;
    padding: 0.97vw 2.93vw;
}

.clear {
    clear: both;
}