* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ceoBox {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    top: 0;
}

.ceo_parent {
    height: 100vh;
    background-color: #000000B2;
    position: relative;
}

.ceoContainer {
    width: 77.7%;
    background-color: #FFFFFF;
    padding: 2% 2% 5.2% 7.6%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 6px #00000029;
    border-radius: 1.95vw;
}

.cancelIcon {
    box-shadow: 0px 0px 10px #00000029;
    border: 0.5px solid #EFEFEF;
    float: right;
    width: 38px;
    border-radius: 50%;
}

.ceoLeft {
    width: 14.5%;
    float: left;
}

.ceoImageContainer {
    width: 62.6%;
    margin-top: 36.7%;
}

.ceoImage {
    width: 5.9vw;
}

.ceoRight {
    width: 85.5%;
    float: right;
    padding-right: 7%;
}

.ceoHeading {
    font-family: 'Anton';
    font-size: 1.36vw;
    letter-spacing: 1px;
    color: #000000;
    padding-bottom: 2%;
}

.ceoText {
    font-family: 'Lato';
    font-size: 1.36vw;
    letter-spacing: 0;
    color: #505050;
    padding-bottom: 2%;
}

.ceoName {
    padding-top: 2%;
    font-family: 'Lato';
    font-size: 1.36vw;
    letter-spacing: 0.7px;
    font-weight: 900;
    padding-bottom: 7px;
    color: #505050;
}

.ceoDesignation {
    font-family: 'Lato';
    font-size: 1.36vw;
    font-weight: 900;
    letter-spacing: 0.7px;
    color: #505050;
}

.clear {
    clear: both;
}

@media screen and (max-device-width: 768px) {
    .cooImage {
        width: 46px;
        height: 46px;
    }
    .cancelIcon {
        width: 28.5px;
    }
}

@media screen and (min-device-width: 1025px) and (max-device-width: 1440px) {
    .cooImage {
        width: 86px;
        height: 86px;
    }
    .cancelIcon {
        width: 53.4px;
    }
}

@media screen and (min-device-width: 1441px) and (max-device-width: 1920px) {
    .cooImage {
        width: 114px;
        height: 114px;
    }
    .cancelIcon {
        width: 71.2px;
    }
}

@media screen and (min-device-width: 1921px) and (max-device-width: 2560px) {
    .cooImage {
        width: 152px;
        height: 152px;
    }
    .cancelIcon {
        width: 95px;
    }
}